In [38]:
import json
from pandas import DataFrame, Series
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier

In [39]:
fs = pd.read_json('../full_dataset/featureset1.json')

In [40]:
fs.head()

,categories_avg_rating,categories_biz_count,categories_reviews,cool,elite_user,funny,months_yelping,std_dev_rating,total_reviews,useful,user_id
0,5,1,1,0,not_elite,0,17,0,4,0,-BjekrEUhweLVyrjVStMgg
1,5,1,1,0,not_elite,0,13,0,6,1,XQiaNhoZbdxaN3pJIBADvw
10,5,1,1,0,not_elite,0,110,0,6,0,QEUXez2cbKb4GqZaYoqJKw
100,2,1,1,0,not_elite,1,72,0,5,1,3k9YWC9ukhnGPVuDb-erSQ
1000,3,2,2,0,not_elite,0,35,0,24,0,npe3_AHEKxufoI4AOhwc6A

In [41]:
fs['is_train'] = np.random.uniform(0,1,len(fs)) <= .66

In [42]:
train, test = fs[fs['is_train']==True], fs[fs['is_train']==False]

In [43]:
features = pd.Index([
           'categories_avg_rating',
           'categories_biz_count',
           'categories_reviews',
           'cool',
           'funny',
           'months_yelping',
           'std_dev_rating',
           'total_reviews',
           'useful'
          ])

In [44]:
clf = RandomForestClassifier(n_jobs=2)
y, _ = pd.factorize(train['elite_user'])
clf.fit(train[features], y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=2,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [45]:
target_names = np.array(["not_elite", "elite"])

In [46]:
preds = target_names[clf.predict(test[features])]

In [47]:
pd.crosstab(test['elite_user'], preds, rownames=['actual'], colnames=['preds'])

preds      elite  not_elite
actual
elite        772       1098
not_elite    423       8089

In [48]:
from sklearn import metrics

In [49]:
print metrics.classification_report(test['elite_user'], preds)

             precision    recall  f1-score   support

      elite       0.65      0.41      0.50      1870
  not_elite       0.88      0.95      0.91      8512

avg / total       0.84      0.85      0.84     10382