In [1]:
import json
from pandas import DataFrame, Series
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier

In [2]:
fs = pd.read_json('../full_dataset/featureset1.json')

In [3]:
fs.head()

,categories_avg_rating,categories_biz_count,categories_reviews,cool,elite_user,funny,months_yelping,std_dev_rating,total_reviews,useful,user_id
0,4.333333,3,3,1,not_elite,0,50,0.942809,4,0,D61_mJH0pPh-grBjZyGn1g
1,3.000000,3,3,0,elite,0,34,0.816497,5,0,ZwYGF9DRAFmz5v3295stFQ
10,2.000000,1,1,0,not_elite,0,5,0.000000,1,0,I9IKwscAPHSeqM6fThfaFg
100,4.500000,2,2,0,not_elite,0,60,0.500000,4,2,XczhjnRUfmPO__HcPbRUpQ
1000,3.000000,5,5,0,not_elite,0,56,1.673320,7,2,j9Dw8N-aadO8Be5vH0v6IQ

In [4]:
fs['is_train'] = np.random.uniform(0,1,len(fs)) <= .75

In [5]:
train, test = fs[fs['is_train']==True], fs[fs['is_train']==False]

In [6]:
features = pd.Index([
           'categories_avg_rating',
           'categories_biz_count',
           'categories_reviews',
           'cool',
           'funny',
           'months_yelping',
           'std_dev_rating',
           'total_reviews',
           'useful'
          ])

In [7]:
clf = RandomForestClassifier(n_jobs=2)
y, _ = pd.factorize(train['elite_user'])
clf.fit(train[features], y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=2,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [8]:
target_names = np.array(["not_elite", "elite"])

In [9]:
preds = target_names[clf.predict(test[features])]

In [10]:
pd.crosstab(test['elite_user'], preds, rownames=['actual'], colnames=['preds'])

preds      elite  not_elite
actual
elite       1259       3113
not_elite   1018      35968

In [11]:
from sklearn import metrics

In [12]:
print metrics.classification_report(test['elite_user'], preds)

             precision    recall  f1-score   support

      elite       0.55      0.29      0.38      4372
  not_elite       0.92      0.97      0.95     36986

avg / total       0.88      0.90      0.89     41358