In [1]:
import pandas as pd
from pandas import DataFrame, Series
import numpy as np

In [3]:
review_distribution = pd.read_json('../full_dataset/visit_distribution_referenceid.json')
review_distribution['merge_token'] = review_distribution.apply(lambda x: x['reference_id'] + ',' + str(x['authority_stars']) + ',' + str(x['distance']), axis = 1)

In [12]:
d_before = DataFrame(review_distribution.loc[review_distribution['time_distribution'] == 0])
d_before.columns=['count_before', 'authority_stars', 'distance', 'reference_id', 'time_distribution', 'merge_token']
d_after = DataFrame(review_distribution.loc[review_distribution['time_distribution'] == 1][['merge_token', '0']])
d_after.columns = ['merge_token', 'count_after']

In [13]:
factor = pd.merge(d_before, d_after, on = 'merge_token')[['reference_id', 'authority_stars', 'distance', 'count_before', 'count_after']]
factor['factor'] = factor.apply(lambda x: x['count_after'] / x['count_before'], axis = 1)
factor.head()

,reference_id,authority_stars,distance,count_before,count_after,factor
0,-2k0to0euEaCvZeCwWhZkg,3,3,1,2,2.000000
1,-Eay214ERmVOVslWgW4xeA,5,5,3,3,1.000000
2,-t2V_fsfRSqYYsAlWCCp-Q,3,4,1,11,11.000000
3,9ag8JtM8cb8CWyhCFOIXGg,4,4,3,14,4.666667
4,9cdVdIDYg5-UDj1gHh8lsQ,2,2,9,6,0.666667

In [14]:
aggregate_result = factor[['authority_stars', 'distance', 'factor']].groupby(['authority_stars', 'distance'], as_index = False)['factor'].agg({'size': np.size, 'factor': np.mean, 'sigma': np.std })
aggregate_result.loc[aggregate_result['size'] > 3]

    authority_stars  distance     factor  size      sigma
0                 1         2   1.747192    27   1.906916
1                 1         3   3.227980    38   5.337252
2                 1         4   5.026908    33   6.140742
3                 1         5   4.636640    18   6.117857
4                 2         2   2.426426    72   3.592807
5                 2         3   6.892804    68  13.816896
6                 2         4   5.308815    64   8.285933
7                 2         5   4.197111    26   6.657379
8                 3         1   0.750000     4   0.288675
9                 3         2   1.914644   200   2.723903
10                3         3   7.270130   221  20.073209
11                3         4   6.457407   185  15.542749
12                3         5   4.244669    84   7.212315
13                4         1   1.500000     7   0.645497
14                4         2   2.767522   318   4.824890
15                4         3   8.998625   324  22.310016
16                4         4   7.974087   267  12.205385
17                4         5   4.005150   140   6.742976
18                5         2   2.443071    94   4.131084
19                5         3  14.753269    93  42.597897
20                5         4  10.512816    77  31.170915
21                5         5   3.338265    38   3.278939