In [1]:
import pandas as pd
from pandas import DataFrame, Series
import numpy as np
import math

In [2]:
review_distribution = pd.read_json('../full_dataset/visit_distribution_referenceid.json')
review_distribution['merge_token'] = review_distribution.apply(lambda x: x['reference_id'] + ',' + str(x['authority_stars']) + ',' + str(x['distance']), axis = 1)
review_distribution[:20]

,0,authority_stars,distance,reference_id,time_distribution,merge_token
0,2,3,2,-2k0to0euEaCvZeCwWhZkg,0,"-2k0to0euEaCvZeCwWhZkg,3,2"
1,1,3,3,-2k0to0euEaCvZeCwWhZkg,0,"-2k0to0euEaCvZeCwWhZkg,3,3"
10,3,5,5,-Eay214ERmVOVslWgW4xeA,0,"-Eay214ERmVOVslWgW4xeA,5,5"
100,1,3,4,-t2V_fsfRSqYYsAlWCCp-Q,0,"-t2V_fsfRSqYYsAlWCCp-Q,3,4"
1000,3,4,4,9ag8JtM8cb8CWyhCFOIXGg,0,"9ag8JtM8cb8CWyhCFOIXGg,4,4"
1001,10,4,2,9ag8JtM8cb8CWyhCFOIXGg,1,"9ag8JtM8cb8CWyhCFOIXGg,4,2"
1002,36,4,3,9ag8JtM8cb8CWyhCFOIXGg,1,"9ag8JtM8cb8CWyhCFOIXGg,4,3"
1003,14,4,4,9ag8JtM8cb8CWyhCFOIXGg,1,"9ag8JtM8cb8CWyhCFOIXGg,4,4"
1004,3,4,5,9ag8JtM8cb8CWyhCFOIXGg,1,"9ag8JtM8cb8CWyhCFOIXGg,4,5"
1005,9,2,2,9cdVdIDYg5-UDj1gHh8lsQ,0,"9cdVdIDYg5-UDj1gHh8lsQ,2,2"
1006,6,2,3,9cdVdIDYg5-UDj1gHh8lsQ,0,"9cdVdIDYg5-UDj1gHh8lsQ,2,3"
1007,3,2,4,9cdVdIDYg5-UDj1gHh8lsQ,0,"9cdVdIDYg5-UDj1gHh8lsQ,2,4"
1008,6,2,2,9cdVdIDYg5-UDj1gHh8lsQ,1,"9cdVdIDYg5-UDj1gHh8lsQ,2,2"
1009,16,2,3,9cdVdIDYg5-UDj1gHh8lsQ,1,"9cdVdIDYg5-UDj1gHh8lsQ,2,3"
101,4,3,3,-t2V_fsfRSqYYsAlWCCp-Q,1,"-t2V_fsfRSqYYsAlWCCp-Q,3,3"
1010,16,2,4,9cdVdIDYg5-UDj1gHh8lsQ,1,"9cdVdIDYg5-UDj1gHh8lsQ,2,4"
1011,1,2,5,9cdVdIDYg5-UDj1gHh8lsQ,1,"9cdVdIDYg5-UDj1gHh8lsQ,2,5"
1012,3,3,2,9czzVbpEtE6VoJyJmN5NWA,0,"9czzVbpEtE6VoJyJmN5NWA,3,2"
1013,2,3,3,9czzVbpEtE6VoJyJmN5NWA,0,"9czzVbpEtE6VoJyJmN5NWA,3,3"
1014,6,3,2,9czzVbpEtE6VoJyJmN5NWA,1,"9czzVbpEtE6VoJyJmN5NWA,3,2"
1015,25,3,3,9czzVbpEtE6VoJyJmN5NWA,1,"9czzVbpEtE6VoJyJmN5NWA,3,3"
1016,11,3,4,9czzVbpEtE6VoJyJmN5NWA,1,"9czzVbpEtE6VoJyJmN5NWA,3,4"
1017,3,3,5,9czzVbpEtE6VoJyJmN5NWA,1,"9czzVbpEtE6VoJyJmN5NWA,3,5"
1018,4,3,2,9jq3BBzHAqN4Wh-Ry5uvUg,0,"9jq3BBzHAqN4Wh-Ry5uvUg,3,2"
1019,3,3,3,9jq3BBzHAqN4Wh-Ry5uvUg,0,"9jq3BBzHAqN4Wh-Ry5uvUg,3,3"
102,11,3,4,-t2V_fsfRSqYYsAlWCCp-Q,1,"-t2V_fsfRSqYYsAlWCCp-Q,3,4"
1020,5,3,4,9jq3BBzHAqN4Wh-Ry5uvUg,0,"9jq3BBzHAqN4Wh-Ry5uvUg,3,4"
1021,3,3,2,9jq3BBzHAqN4Wh-Ry5uvUg,1,"9jq3BBzHAqN4Wh-Ry5uvUg,3,2"
1022,15,3,3,9jq3BBzHAqN4Wh-Ry5uvUg,1,"9jq3BBzHAqN4Wh-Ry5uvUg,3,3"
1023,12,3,4,9jq3BBzHAqN4Wh-Ry5uvUg,1,"9jq3BBzHAqN4Wh-Ry5uvUg,3,4"
...,...,...,...,...,...,...
1974,6,4,2,Jf8-c4cztJ_qkkKvHPbGgQ,1,"Jf8-c4cztJ_qkkKvHPbGgQ,4,2"
1975,35,4,3,Jf8-c4cztJ_qkkKvHPbGgQ,1,"Jf8-c4cztJ_qkkKvHPbGgQ,4,3"
1976,13,4,4,Jf8-c4cztJ_qkkKvHPbGgQ,1,"Jf8-c4cztJ_qkkKvHPbGgQ,4,4"
1977,3,4,5,Jf8-c4cztJ_qkkKvHPbGgQ,1,"Jf8-c4cztJ_qkkKvHPbGgQ,4,5"
1978,1,3,2,JoDWhPaASMjHnnhL98XYLg,0,"JoDWhPaASMjHnnhL98XYLg,3,2"
1979,2,3,3,JoDWhPaASMjHnnhL98XYLg,0,"JoDWhPaASMjHnnhL98XYLg,3,3"
198,29,4,4,0g0ibVymQq5fF-TmuUx04A,1,"0g0ibVymQq5fF-TmuUx04A,4,4"
1980,1,3,4,JoDWhPaASMjHnnhL98XYLg,0,"JoDWhPaASMjHnnhL98XYLg,3,4"
1981,7,3,3,JoDWhPaASMjHnnhL98XYLg,1,"JoDWhPaASMjHnnhL98XYLg,3,3"
1982,4,4,2,JoFKZFGvVRccb5-GFKpkwg,0,"JoFKZFGvVRccb5-GFKpkwg,4,2"
1983,15,4,3,JoFKZFGvVRccb5-GFKpkwg,0,"JoFKZFGvVRccb5-GFKpkwg,4,3"
1984,9,4,4,JoFKZFGvVRccb5-GFKpkwg,0,"JoFKZFGvVRccb5-GFKpkwg,4,4"
1985,2,4,2,JoFKZFGvVRccb5-GFKpkwg,1,"JoFKZFGvVRccb5-GFKpkwg,4,2"
1986,13,4,3,JoFKZFGvVRccb5-GFKpkwg,1,"JoFKZFGvVRccb5-GFKpkwg,4,3"
1987,12,4,4,JoFKZFGvVRccb5-GFKpkwg,1,"JoFKZFGvVRccb5-GFKpkwg,4,4"
1988,3,4,5,JoFKZFGvVRccb5-GFKpkwg,1,"JoFKZFGvVRccb5-GFKpkwg,4,5"
1989,1,2,2,JpTuSxTH56dVGYXN4wy1Vg,0,"JpTuSxTH56dVGYXN4wy1Vg,2,2"
199,3,4,5,0g0ibVymQq5fF-TmuUx04A,1,"0g0ibVymQq5fF-TmuUx04A,4,5"
1990,25,2,3,JpTuSxTH56dVGYXN4wy1Vg,1,"JpTuSxTH56dVGYXN4wy1Vg,2,3"
1991,15,2,4,JpTuSxTH56dVGYXN4wy1Vg,1,"JpTuSxTH56dVGYXN4wy1Vg,2,4"
1992,4,2,5,JpTuSxTH56dVGYXN4wy1Vg,1,"JpTuSxTH56dVGYXN4wy1Vg,2,5"
1993,1,3,2,Juu-8A7hmZOHg2_YFVG81A,0,"Juu-8A7hmZOHg2_YFVG81A,3,2"
1994,4,3,3,Juu-8A7hmZOHg2_YFVG81A,0,"Juu-8A7hmZOHg2_YFVG81A,3,3"
1995,7,3,4,Juu-8A7hmZOHg2_YFVG81A,0,"Juu-8A7hmZOHg2_YFVG81A,3,4"
1996,1,3,5,Juu-8A7hmZOHg2_YFVG81A,0,"Juu-8A7hmZOHg2_YFVG81A,3,5"
1997,20,3,3,Juu-8A7hmZOHg2_YFVG81A,1,"Juu-8A7hmZOHg2_YFVG81A,3,3"
1998,36,3,4,Juu-8A7hmZOHg2_YFVG81A,1,"Juu-8A7hmZOHg2_YFVG81A,3,4"
1999,12,3,5,Juu-8A7hmZOHg2_YFVG81A,1,"Juu-8A7hmZOHg2_YFVG81A,3,5"
2,1,3,5,-2k0to0euEaCvZeCwWhZkg,0,"-2k0to0euEaCvZeCwWhZkg,3,5"
20,2,4,5,-Ij__RbLTayim5MjLono_A,1,"-Ij__RbLTayim5MjLono_A,4,5"

In [4]:
d_before = DataFrame(review_distribution.loc[review_distribution['time_distribution'] == 0])
d_before.columns=['count_before', 'authority_stars', 'distance', 'reference_id', 'time_distribution', 'merge_token']
d_after = DataFrame(review_distribution.loc[review_distribution['time_distribution'] == 1][['merge_token', '0']])
d_after.columns = ['merge_token', 'count_after']
d_before[:6]

,count_before,authority_stars,distance,reference_id,time_distribution,merge_token
0,2,3,2,-2k0to0euEaCvZeCwWhZkg,0,"-2k0to0euEaCvZeCwWhZkg,3,2"
1,1,3,3,-2k0to0euEaCvZeCwWhZkg,0,"-2k0to0euEaCvZeCwWhZkg,3,3"
10,3,5,5,-Eay214ERmVOVslWgW4xeA,0,"-Eay214ERmVOVslWgW4xeA,5,5"
100,1,3,4,-t2V_fsfRSqYYsAlWCCp-Q,0,"-t2V_fsfRSqYYsAlWCCp-Q,3,4"
1000,3,4,4,9ag8JtM8cb8CWyhCFOIXGg,0,"9ag8JtM8cb8CWyhCFOIXGg,4,4"

In [5]:
d_after.head()

                     merge_token  count_after
1001  9ag8JtM8cb8CWyhCFOIXGg,4,2           10
1002  9ag8JtM8cb8CWyhCFOIXGg,4,3           36
1003  9ag8JtM8cb8CWyhCFOIXGg,4,4           14
1004  9ag8JtM8cb8CWyhCFOIXGg,4,5            3
1008  9cdVdIDYg5-UDj1gHh8lsQ,2,2            6

In [11]:
d_before.loc[d_before['reference_id'] == '-2k0to0euEaCvZeCwWhZkg']

,count_before,authority_stars,distance,reference_id,time_distribution,merge_token
0,2,3,2,-2k0to0euEaCvZeCwWhZkg,0,"-2k0to0euEaCvZeCwWhZkg,3,2"
1,1,3,3,-2k0to0euEaCvZeCwWhZkg,0,"-2k0to0euEaCvZeCwWhZkg,3,3"
2,1,3,5,-2k0to0euEaCvZeCwWhZkg,0,"-2k0to0euEaCvZeCwWhZkg,3,5"

In [13]:
review_distribution.loc[review_distribution['reference_id'] == '-2k0to0euEaCvZeCwWhZkg']

,0,authority_stars,distance,reference_id,time_distribution,merge_token
0,2,3,2,-2k0to0euEaCvZeCwWhZkg,0,"-2k0to0euEaCvZeCwWhZkg,3,2"
1,1,3,3,-2k0to0euEaCvZeCwWhZkg,0,"-2k0to0euEaCvZeCwWhZkg,3,3"
2,1,3,5,-2k0to0euEaCvZeCwWhZkg,0,"-2k0to0euEaCvZeCwWhZkg,3,5"
3,2,3,3,-2k0to0euEaCvZeCwWhZkg,1,"-2k0to0euEaCvZeCwWhZkg,3,3"
4,3,3,4,-2k0to0euEaCvZeCwWhZkg,1,"-2k0to0euEaCvZeCwWhZkg,3,4"

In [14]:
factor = pd.merge(d_before, d_after, on = 'merge_token')[['reference_id', 'authority_stars', 'distance', 'count_before', 'count_after']]
factor['factor'] = factor.apply(lambda x: x['count_after'] / x['count_before'], axis = 1)
factor.head()

,reference_id,authority_stars,distance,count_before,count_after,factor
0,-2k0to0euEaCvZeCwWhZkg,3,3,1,2,2.000000
1,-Eay214ERmVOVslWgW4xeA,5,5,3,3,1.000000
2,-t2V_fsfRSqYYsAlWCCp-Q,3,4,1,11,11.000000
3,9ag8JtM8cb8CWyhCFOIXGg,4,4,3,14,4.666667
4,9cdVdIDYg5-UDj1gHh8lsQ,2,2,9,6,0.666667

In [15]:
aggregate_result = factor[['authority_stars', 'distance', 'factor']].groupby(['authority_stars', 'distance'], as_index = False)['factor'].agg({'size': np.size, 'factor': np.mean, 'sigma': np.std })
aggregate_result.loc[aggregate_result['size'] > 3]

    authority_stars  distance     factor  size      sigma
0                 1         2   1.747192    27   1.906916
1                 1         3   3.227980    38   5.337252
2                 1         4   5.026908    33   6.140742
3                 1         5   4.636640    18   6.117857
4                 2         2   2.426426    72   3.592807
5                 2         3   6.892804    68  13.816896
6                 2         4   5.308815    64   8.285933
7                 2         5   4.197111    26   6.657379
8                 3         1   0.750000     4   0.288675
9                 3         2   1.914644   200   2.723903
10                3         3   7.270130   221  20.073209
11                3         4   6.457407   185  15.542749
12                3         5   4.244669    84   7.212315
13                4         1   1.500000     7   0.645497
14                4         2   2.767522   318   4.824890
15                4         3   8.998625   324  22.310016
16                4         4   7.974087   267  12.205385
17                4         5   4.005150   140   6.742976
18                5         2   2.443071    94   4.131084
19                5         3  14.753269    93  42.597897
20                5         4  10.512816    77  31.170915
21                5         5   3.338265    38   3.278939

In [16]:
factor['weight'] = factor.apply(lambda x: x['count_before'] + x['count_after'], axis = 1)
def weighted_avg_and_std(values):
    """
    Return the weighted average and biased weighted standard deviation.

    Adapted from: http://stackoverflow.com/questions/2413522/weighted-standard-deviation-in-numpy
    """
    
    average = np.average(values, weights=factor.loc[values.index, 'weight'])
    variance = np.average((values-average)**2, weights=factor.loc[values.index, 'weight'])  # Fast and numerically precise
    return (average, math.sqrt(variance))

In [17]:
agg_weighted = factor[['authority_stars', 'distance', 'factor', 'weight']].groupby(['authority_stars', 'distance'], as_index = False).agg({ 'factor': weighted_avg_and_std, 'weight': np.sum })
agg_weighted.loc[aggregate_result['size'] > 3]

    authority_stars  distance                               factor  weight
0                 1         2  (1.62293456085, 1.5487131567236587)     360
1                 1         3    (4.88913000476, 5.15010078955669)    2621
2                 1         4   (8.83039600883, 7.165793396028185)    1503
3                 1         5  (10.9163509603, 10.226303214447077)     181
4                 2         2  (3.01249951927, 4.3537840696860695)     958
5                 2         3  (8.27860999799, 14.517328210860631)    5173
6                 2         4   (5.70846826608, 8.129109199134955)    2870
7                 2         5   (7.70132377039, 9.754772646231892)     354
8                 3         1            (0.7, 0.2449489742783178)      10
9                 3         2  (2.52917008076, 3.7149762679240474)    3048
10                3         3    (19.1196274853, 44.8554785459618)   18303
11                3         4   (14.7838393839, 38.62018348499871)    8971
12                3         5  (8.93851030748, 12.388624798427111)    1110
13                4         1  (1.55263157895, 0.6046908048987398)      19
14                4         2   (3.67766054818, 6.459094976135478)    5473
15                4         3   (13.601706893, 29.057193627106393)   24971
16                4         4  (12.1007613426, 15.656836468445562)   11221
17                4         5  (7.95393998467, 13.627074539209136)    1397
18                5         2   (2.72256277504, 4.646438641879985)    2243
19                5         3    (37.0040971094, 84.0435461550358)    8995
20                5         4     (30.149029934, 70.3527916645724)    3194
21                5         5    (3.90056786351, 3.53552939311974)     330