In [17]:
BIZPATH='../../yelp_dataset_challenge_academic_dataset/yelp_academic_dataset_business.json'
USERPATH='../../yelp_dataset_challenge_academic_dataset/yelp_academic_dataset_user.json'
REVPATH='../../yelp_dataset_challenge_academic_dataset/yelp_academic_dataset_review.json'
PARTIAL_DIM_PATH = '../full_dataset/featureset1_resto_food_chinese.json'

In [18]:
import json

In [19]:
bizrecords = [json.loads(line) for line in open(BIZPATH)]
userrecords = [json.loads(line) for line in open(USERPATH)]
revrecords = [json.loads(line) for line in open(REVPATH)]
pdimrecords = [json.loads(line) for line in open(PARTIAL_DIM_PATH)]

In [20]:
from pandas import DataFrame, Series

In [21]:
import pandas as pd; import numpy as np

In [22]:
bizframe = DataFrame(bizrecords)
userframe = DataFrame(userrecords)
revframe = DataFrame(revrecords)
pdimframe = pd.read_json(PARTIAL_DIM_PATH)
pdimframe.head()

,categories_avg_rating,categories_biz_count,categories_reviews,std_dev_rating,total_reviews,user_id
0,5,1,1,0,4,-BjekrEUhweLVyrjVStMgg
1,5,1,1,0,6,XQiaNhoZbdxaN3pJIBADvw
10,2,1,1,0,12,82d-mm3hB2UelHwrptvcMw
100,2,1,1,0,22,0XMC32Lkh6x1Yc9m9sSK0Q
1000,1,1,1,0,1,_j907SJO1Tzl102sXiJPLA

In [23]:
bizframe_sub = DataFrame(bizrecords, columns=['business_id', 'name', 'categories', 'review_count', 'stars'])

In [24]:
series = bizframe_sub['categories'].map(lambda x: True if  ('Restaurants' in x  or 'Food' in x ) and 'Chinese' in x else False )

In [25]:
temp = DataFrame(bizframe_sub.loc[series])

In [26]:
rev_user_frame = pd.merge(revframe, userframe, on="user_id")
rev_biz_frame = pd.merge(revframe, temp, on="business_id")

In [27]:
#Months yelping
import datetime
now = datetime.datetime.now()
userframe['months_yelping'] = userframe['yelping_since'].map(lambda x: datetime.datetime.strptime(x, '%Y-%m')).map(lambda x: (now.year - x.year) * 12 + now.month - x.month)

In [28]:
userframe.head()

,average_stars,compliments,elite,fans,friends,name,review_count,type,user_id,votes,yelping_since,months_yelping
0,4.14,"{u'profile': 8, u'cute': 15, u'funny': 11, u'p...","[2005, 2006]",70,"[rpOyqD_893cqmDAtJLbdog, 4U9kSBLuBDU391x6bxU-Y...",Russel,108,user,18kPq7GPye-YQ3LyKyAZPw,"{u'funny': 167, u'useful': 280, u'cool': 245}",2004-10,137
1,3.66,"{u'profile': 116, u'cute': 206, u'funny': 580,...","[2005, 2006, 2007, 2008, 2009, 2010, 2011, 201...",1179,"[18kPq7GPye-YQ3LyKyAZPw, 4U9kSBLuBDU391x6bxU-Y...",Jeremy,1274,user,rpOyqD_893cqmDAtJLbdog,"{u'funny': 7681, u'useful': 14199, u'cool': 11...",2004-10,137
2,3.60,"{u'profile': 9, u'cute': 23, u'funny': 120, u'...","[2005, 2006, 2007, 2008, 2009, 2010, 2011, 201...",100,"[18kPq7GPye-YQ3LyKyAZPw, rpOyqD_893cqmDAtJLbdo...",Michael,442,user,4U9kSBLuBDU391x6bxU-YA,"{u'funny': 908, u'useful': 1483, u'cool': 732}",2004-10,137
3,4.64,{u'cute': 2},[],2,"[18kPq7GPye-YQ3LyKyAZPw, rpOyqD_893cqmDAtJLbdo...",Ken,11,user,fHtTaujcyKvXglE33Z5yIw,"{u'funny': 1, u'useful': 11, u'cool': 5}",2004-10,137
4,3.80,"{u'cute': 2, u'plain': 2, u'writer': 2, u'note...",[2005],4,"[rpOyqD_893cqmDAtJLbdog, HDQixQ-WZEV0LVPJlIGQe...",Katherine,66,user,SIBCL7HBkrP4llolm4SC2A,"{u'funny': 11, u'useful': 34, u'cool': 13}",2004-10,137

In [29]:
#Label elite users
userframe["elite_user"] = userframe['elite'].map(lambda x: 'elite' if len(x) > 0 else 'not_elite')

In [30]:
#Adapted from: http://stackoverflow.com/questions/21160134/flatten-a-column-with-value-of-type-list-while-duplicating-the-other-columns-va
#TODO: Find more idiomatic definition for rev_category_frame, preferably by removing flattened_categories.
#flattened_categories = DataFrame([[i, category]
#                                     for i, categories in rev_biz_frame['categories'].apply(list).iteritems()
#                                         for category in categories],
#                                columns=['index', 'category'])
#flattened_categories.set_index('index')
#rev_category_frame = rev_biz_frame.merge(flattened_categories, left_index = True, right_index = True)

In [31]:
#Number businesses / category
#TODO: Add name to the size column; do some sanity checking on the data.
#user_biz_revved_per_category_frame = rev_category_frame.groupby(['user_id', 'business_id', 'category']).size()

In [33]:
#rev_restaurants_frame = DataFrame(rev_category_frame.loc[rev_category_frame['category'] == 'Restaurants'])
rev_biz_frame['funny'] = rev_biz_frame['votes'].map(lambda x: x['funny'])
rev_biz_frame['useful'] = rev_biz_frame['votes'].map(lambda x: x['useful'])
rev_biz_frame['cool'] = rev_biz_frame['votes'].map(lambda x: x['cool'])

In [34]:
rev_food_frame = DataFrame(rev_category_frame.loc[rev_category_frame['category'] == 'Food'])

In [36]:
rev_dim_peruser_frame = rev_biz_frame.groupby('user_id').aggregate(sum).reset_index()[['user_id', 'funny', 'useful', 'cool']]

In [37]:
user_dim_frame = pd.merge(userframe[['user_id', 'months_yelping', 'elite_user']], rev_dim_peruser_frame, on='user_id')
dimframe = pd.merge(pdimframe, user_dim_frame, on='user_id')

In [38]:
#Move elite_user column to end
elite_column = dimframe.pop('elite_user')
dimframe.insert(10,'elite_user', elite_column)

In [39]:
dimframe.to_json('../full_dataset/featureset1.json')

In [40]:
dimframe.head()

,categories_avg_rating,categories_biz_count,categories_reviews,std_dev_rating,total_reviews,user_id,months_yelping,funny,useful,cool,elite_user
0,5,1,1,0,4,-BjekrEUhweLVyrjVStMgg,17,0,0,0,not_elite
1,5,1,1,0,6,XQiaNhoZbdxaN3pJIBADvw,13,0,1,0,not_elite
2,2,1,1,0,12,82d-mm3hB2UelHwrptvcMw,137,0,0,0,not_elite
3,2,1,1,0,22,0XMC32Lkh6x1Yc9m9sSK0Q,62,0,1,0,not_elite
4,1,1,1,0,1,_j907SJO1Tzl102sXiJPLA,14,0,1,0,not_elite

In [41]:
dimframe

,categories_avg_rating,categories_biz_count,categories_reviews,std_dev_rating,total_reviews,user_id,months_yelping,funny,useful,cool,elite_user
0,5.000000,1,1,0.000000,4,-BjekrEUhweLVyrjVStMgg,17,0,0,0,not_elite
1,5.000000,1,1,0.000000,6,XQiaNhoZbdxaN3pJIBADvw,13,0,1,0,not_elite
2,2.000000,1,1,0.000000,12,82d-mm3hB2UelHwrptvcMw,137,0,0,0,not_elite
3,2.000000,1,1,0.000000,22,0XMC32Lkh6x1Yc9m9sSK0Q,62,0,1,0,not_elite
4,1.000000,1,1,0.000000,1,_j907SJO1Tzl102sXiJPLA,14,0,1,0,not_elite
5,4.000000,3,3,0.816497,56,iJMOYpsy3XU-LG5ROf5BDA,59,2,1,1,not_elite
6,4.000000,1,1,0.000000,11,ACpXAKmn_eLWhQ_23w6YVQ,56,0,2,3,elite
7,2.000000,1,1,0.000000,5,YSW5Y8HWpXXPkxrhHVImhw,41,0,0,0,not_elite
8,3.000000,1,1,0.000000,35,g0KZXrxZSrRiW-KHgjvQJg,110,0,0,0,elite
9,4.000000,2,2,0.000000,21,yiwCOAzdq_YZASzIYCGyyg,52,0,1,0,elite
10,5.000000,1,1,0.000000,2,RCpt3acT2ZU4THf8pXdltg,16,0,0,0,not_elite
11,5.000000,1,1,0.000000,1,pjlvbip7v0-KhOl1gKHHqA,7,0,0,0,not_elite
12,5.000000,1,1,0.000000,6,QEUXez2cbKb4GqZaYoqJKw,110,0,0,0,not_elite
13,5.000000,1,1,0.000000,57,vpfVuYOBech1P220ho1KFA,45,0,1,2,not_elite
14,5.000000,1,1,0.000000,1,AHoOmbymsWRwnDQcDbiv1A,18,0,0,0,not_elite
15,4.000000,2,2,1.000000,32,xOe-ZopdYiu8ijimmtdrnA,116,0,0,0,not_elite
16,5.000000,1,1,0.000000,2,5GkKwiPTAg_cVV9fML2_Sg,18,0,0,1,not_elite
17,4.000000,1,1,0.000000,5,Mf1ThlO5g7_fkDcK2lUvKQ,86,1,0,0,not_elite
18,1.000000,1,1,0.000000,4,ABTQ0XBo6AwDsRmeG6-kuw,57,0,0,0,not_elite
19,5.000000,1,1,0.000000,2,pgxHSaHvx9Uz8Nw0PyEA9A,110,0,0,0,not_elite
20,5.000000,1,1,0.000000,3,uwixSXUnR1EUtpoQlo0DCA,12,0,0,0,not_elite
21,4.500000,2,2,0.500000,34,66CvWYdsXZcInKUGw62BwA,72,0,1,0,not_elite
22,5.000000,1,1,0.000000,1,COuojFwtQ4-KR3O5EnTUcA,54,0,0,0,not_elite
23,1.000000,1,1,0.000000,40,thpo8_zVAb5Dmsosmz7rOw,38,3,4,1,not_elite
24,5.000000,1,1,0.000000,1,_RnsddBglt2orHFyqoI8uQ,12,0,0,0,not_elite
25,4.000000,1,1,0.000000,4,LWUlXSAbSacoGV53lTVVDA,56,0,0,0,not_elite
26,3.000000,2,2,0.000000,7,j6kXIz0SHc-9cOE4ba-uFQ,116,0,0,0,not_elite
27,4.000000,1,1,0.000000,25,t2jYbE2t_lCNz2jdX4s6bA,110,0,0,0,not_elite
28,1.000000,1,1,0.000000,32,Sc1lyuccxT7p1YyMlUppRw,44,1,3,1,not_elite
29,3.833333,6,6,0.897527,31,WjwcWeZ_RvLqMrYQhdETVg,110,2,2,3,elite
...,...,...,...,...,...,...,...,...,...,...,...
46547,4.000000,1,1,0.000000,7,oYKCL4pCw17bydLg-s74Cg,42,0,0,0,not_elite
46548,2.333333,3,3,0.942809,70,oXkbuOiN9HDS3WgOQONfRg,111,4,8,1,elite
46549,2.000000,1,1,0.000000,2,AV5v7A9A0tx7klrfvnPTCA,31,0,1,0,not_elite
46550,4.500000,2,2,0.500000,7,Ew7pQkS1uRqv-qOYkgy79A,65,0,2,0,not_elite
46551,1.000000,1,1,0.000000,1,GckrULXrxmtgUrzBq2h9CQ,52,0,0,0,not_elite
46552,4.000000,1,1,0.000000,2,YN1bCdy8gDbN-VMSNZ80UA,14,0,1,0,not_elite
46553,4.000000,3,3,0.000000,17,_b0UG5w6k7kGWbd0nOtdAw,72,0,0,0,not_elite
46554,4.000000,1,1,0.000000,15,Y_nf47haCvcZ3egZmUiSvg,62,2,1,1,not_elite
46555,4.500000,2,2,0.500000,8,SiCnolMdsvPx_9frBaNj_Q,33,1,1,1,not_elite
46556,4.000000,1,1,0.000000,8,VjIq7uQTNuwt3KoU0sic7Q,50,0,0,0,not_elite
46557,2.000000,1,1,0.000000,3,f-KQ6M9LAF4fGt0IeKd6BQ,111,0,0,0,not_elite
46558,1.000000,1,1,0.000000,3,1vlgpBsQdN3s4lEWdiHgcA,53,0,4,1,not_elite
46559,4.000000,1,1,0.000000,36,RdRbKH7o9dyFO7yy4bXl0A,47,0,0,1,elite
46560,3.000000,1,1,0.000000,3,0FOVaFaTzDmIo5ahTJmQmA,86,0,2,0,elite
46561,4.000000,1,1,0.000000,11,5-hKiBLB-PpE4cbH_9323g,52,0,0,0,not_elite
46562,3.333333,3,3,1.247219,17,LDnttgbyTsjTxgKvrrlWwg,34,0,2,1,not_elite
46563,2.000000,1,1,0.000000,9,-yCwmk_KB_Wibi8z19sbDQ,50,1,1,0,not_elite
46564,2.000000,1,1,0.000000,2,UU471AUmpydKlMODS74M_Q,14,0,0,0,not_elite
46565,4.500000,2,2,0.500000,5,MqUmlcr_J-qLBbWlkst5eA,69,0,0,0,not_elite
46566,5.000000,1,1,0.000000,4,J1TLcnkybg9UIJDoQCP98Q,26,0,0,0,not_elite
46567,4.000000,1,1,0.000000,10,C-IFJlE5uoq6GgLFHtCq6w,58,0,0,0,not_elite
46568,5.000000,1,1,0.000000,3,FFpi1m77cZkBcbN57cPPhw,11,0,0,0,not_elite
46569,1.000000,1,1,0.000000,1,DNUV2s-k8qYo9YiyjNoMhg,9,0,0,1,not_elite
46570,2.000000,1,1,0.000000,32,Ih0H7IESIciiIu7SGOo6SA,110,2,0,0,not_elite
46571,4.000000,1,1,0.000000,7,ZG4bZCEfDZqcVzNwTtFgKg,110,0,0,0,elite
46572,5.000000,1,1,0.000000,3,6C2xMq24FZW2C92A3R4G1Q,25,0,0,0,not_elite
46573,3.000000,1,1,0.000000,5,D5g7rYP-o-KlcRLhUhLFIw,31,0,0,0,not_elite
46574,4.000000,1,1,0.000000,8,LlhUPwr66E6dJryh2Y9uJg,86,1,1,0,not_elite
46575,5.000000,1,1,0.000000,3,-p3l0MLUqeBWHFN6RSFxOw,17,0,0,0,not_elite
46576,5.000000,1,1,0.000000,32,4xZ6JPl1DZTujlDHej8vNg,19,0,0,0,not_elite