In [7]:
BIZPATH='../montreal_subset/montreal_business.json'
USERPATH='../montreal_subset/montreal_users_who_reviewed.json'
REVPATH='../montreal_subset/montreal_reviews.json'
CHECKINPATH='../montreal_subset/montreal_checkin.json'

In [8]:
import json

In [9]:
bizrecords = [json.loads(line) for line in open(BIZPATH)]
userrecords = [json.loads(line) for line in open(USERPATH)]
revrecords = [json.loads(line) for line in open(REVPATH)]
checkinrecords = [json.loads(line) for line in open(CHECKINPATH)]

In [10]:
bizrecords[0]

In [11]:
userrecords[0]

In [12]:
revrecords[0]

{u'business_id': u'5LBVJ2_UslInSx5n7D__xQ',
 u'date': u'2008-08-07',
 u'review_id': u'OYuPL99eMFMaDY4IZV18Rg',
 u'stars': 5,
 u'text': u'Priape is the hottest most popular gay adult bookstore in North America. \nThey have awesome hot gay models, porn (Hot House, Titan), lube, hot club wear, leather store which most stuff is made on-site, books, magazines, and  can also get tickets for many great events such as the Black & Blue in October. \nPriape is located in the heart of the gay village.\nThis past weekend, they had a Star from Titan Video outside signing autographs. So Hot !',
 u'type': u'review',
 u'user_id': u'e-t3dRzH9bmsanmhYgSiVQ',
 u'votes': {u'cool': 3, u'funny': 2, u'useful': 4}}

In [13]:
checkinrecords[0]

{u'business_id': u'5LBVJ2_UslInSx5n7D__xQ',
 u'checkin_info': {u'10-3': 1, u'13-5': 1, u'18-5': 1, u'20-1': 1},
 u'type': u'checkin'}

In [14]:
from pandas import DataFrame, Series

In [15]:
import pandas as pd; import numpy as np

In [16]:
bizframe = DataFrame(bizrecords)
userframe = DataFrame(userrecords)
revframe = DataFrame(revrecords)
checkinframe = DataFrame(checkinrecords)

In [17]:
bizframe_sub = DataFrame(bizrecords, columns=['business_id', 'name', 'categories', 'review_count', 'stars'])

In [18]:
bizframe_sub.head(n=10)

,business_id,name,categories,review_count,stars
0,5LBVJ2_UslInSx5n7D__xQ,Priape,"[Shopping, Adult]",4,4.5
1,Dl0aiLB55cpQTHKmDISZag,Holiday Inn Montreal Centreville Downtown,"[Hotels & Travel, Event Planning & Services, V...",27,3.0
2,7uWSZpD_pJzLh4ciYT8dgg,Gourmet D'asie,"[Vietnamese, Thai, Asian Fusion, Restaurants]",3,3.5
3,uQOBg3NRyrC767zEr1LIgQ,InterContinental Montreal,"[Hotels & Travel, Event Planning & Services, V...",57,4.0
4,qM2I6EnvzeVDN93StYkIYA,Stash Café,"[Polish, Restaurants]",125,4.0
5,ewbC_cJYV158EtCyokaYzQ,Henri Henri Ltee,"[Men's Clothing, Hats, Fashion, Shopping, Acce...",3,4.5
6,E9Uleq1P0ZSILv2YUWW_JQ,Rotisserie St Hubert,"[Barbeque, Restaurants]",24,3.0
7,0Z3dCshAfz2GvRwUVkMOSQ,Saute-Moutons Jet Boating Montréal,"[Boat Charters, Boating, Tours, Event Planning...",6,5.0
8,kLHeO77WiU_P1hEA95dkzQ,Second Cup,"[Food, Coffee & Tea]",4,3.0
9,KjtmgrvRyTd5sCZZqAM8vA,La Vieille Europe,"[Cheese Shops, Grocery, Food, Specialty Food, ...",29,4.5

In [19]:
bsort = bizframe_sub.sort_values(by='review_count', ascending=False)

In [20]:
bsort[:10]

,business_id,name,categories,review_count,stars
41,j_Mfxog4RUlv3J3KSNRWnw,Les 3 Brasseurs,"[Pubs, Food, Bars, Breweries, Nightlife]",193,3.0
52,hg2q5fJNH1c-CYZWT1Sc4g,Pizza Il Focolaio,"[Italian, Pizza, Restaurants]",129,4.5
4,qM2I6EnvzeVDN93StYkIYA,Stash Café,"[Polish, Restaurants]",125,4.0
75,lvMZVGiWH12U1mRkSI25DQ,Les 3 Brasseurs,"[Pubs, Food, Bars, Breweries, Nightlife]",89,3.0
55,EuRTuzFXKFLe6Hs_VsXSVw,Les 3 Brasseurs,"[Food, Pubs, Bars, Breweries, Nightlife]",85,3.0
71,g3-LD-78T2g8fYamv7SndQ,Les Glaceurs,"[Food, Desserts, Ice Cream & Frozen Yogurt]",73,4.0
17,t578Gz0FdfudO_57qptVkA,The Maple Delights,"[Food, Specialty Food, Cafes, Restaurants, Des...",68,4.5
69,9HpTTSPwuh_lp2dCLiGswg,Little Sheep Mongolian Hot Pot,"[Hot Pot, Mongolian, Chinese, Restaurants]",66,3.5
82,9e42a9MVYBqJOfArmQoOIA,Frank & Oak,"[Men's Clothing, Fashion, Shopping, Accessories]",61,3.0
3,uQOBg3NRyrC767zEr1LIgQ,InterContinental Montreal,"[Hotels & Travel, Event Planning & Services, V...",57,4.0

In [21]:
bizframe_sub.corr()

,review_count,stars
review_count,1.000000,0.078197
stars,0.078197,1.000000

In [22]:
top_biz = bizframe_sub.ix[bizframe_sub.stars == 5.0]

In [23]:
tb = top_biz.sort_values(by='review_count', ascending=False)

In [24]:
tb[:10]

,business_id,name,categories,review_count,stars
68,EI9xvGMLfVt3zXQmwi7xVg,Animal Health Clinic (the),"[Veterinarians, Pets]",12,5
7,0Z3dCshAfz2GvRwUVkMOSQ,Saute-Moutons Jet Boating Montréal,"[Boat Charters, Boating, Tours, Event Planning...",6,5
37,BWaCdx0LgVmIGNkwiCBMEg,Bronte Restaurant,"[Canadian (New), Restaurants]",5,5
62,oUQG7-J0kjAMaoD-v9Po0w,Crossfit Montreal,"[Active Life, Fitness & Instruction]",5,5
12,1Lt_ZeJPZOINqLmW-muCgw,Auberge De La Place Royale,"[Hotels & Travel, Event Planning & Services, H...",4,5

In [25]:
revframe

,business_id,date,review_id,stars,text,type,user_id,votes
0,5LBVJ2_UslInSx5n7D__xQ,2008-08-07,OYuPL99eMFMaDY4IZV18Rg,5,Priape is the hottest most popular gay adult b...,review,e-t3dRzH9bmsanmhYgSiVQ,"{u'funny': 2, u'useful': 4, u'cool': 3}"
1,5LBVJ2_UslInSx5n7D__xQ,2015-09-13,rUczg4mkamTnKS6eBTsyog,4,It's a large store with a good selection of......,review,uF1-c9oji5qiHntYsmfKGg,"{u'funny': 2, u'useful': 7, u'cool': 6}"
2,Dl0aiLB55cpQTHKmDISZag,2010-04-21,NhwfGKDaFeuxOTNTkFpp7w,3,Stayed here for 2 nights with 2 girlfriends. G...,review,NUNVFFv_VEyVn3G7kg1V8g,"{u'funny': 0, u'useful': 0, u'cool': 0}"
3,Dl0aiLB55cpQTHKmDISZag,2010-06-07,PjFJYb_tsU7uR1xyCnw1sQ,3,This is one of 3 Holiday Inns in the general M...,review,0KZsDw5pGKrYEWGXg9oUsg,"{u'funny': 2, u'useful': 2, u'cool': 2}"
4,Dl0aiLB55cpQTHKmDISZag,2010-09-07,2mc7S6djY9xcfdlYYZpWSQ,3,I enjoyed staying at this location because it ...,review,gMOlCdsMxODvZ9G7yMZmTA,"{u'funny': 0, u'useful': 0, u'cool': 0}"
5,Dl0aiLB55cpQTHKmDISZag,2010-10-19,GbKnvGM-_uriCtJ6Z2aMVA,4,Enjoyed my stay here last weekend. \n\nIt's ri...,review,cZY5YYDJywlgmVfCr-K9vQ,"{u'funny': 0, u'useful': 1, u'cool': 1}"
6,Dl0aiLB55cpQTHKmDISZag,2011-10-12,B2w3vO7zK5GEbxrbMFFQnw,4,"Friendly staff, super clean hotel, and very af...",review,dFC0MPQQNu89a9LpfL4PhA,"{u'funny': 0, u'useful': 1, u'cool': 1}"
7,Dl0aiLB55cpQTHKmDISZag,2011-10-19,RpjUILT9nYl_e0uD6oyThQ,2,first the good things: It's right on top of a ...,review,s0y6bqr8uDQdB65W7Vdy4Q,"{u'funny': 0, u'useful': 0, u'cool': 0}"
8,Dl0aiLB55cpQTHKmDISZag,2011-12-13,enRWKjGgBaIziqfGudw3hg,4,Located in Montreal's Chinatown and close to R...,review,H0TE5OCbgfjv45ArYyErsQ,"{u'funny': 1, u'useful': 2, u'cool': 3}"
9,Dl0aiLB55cpQTHKmDISZag,2012-02-22,Mkw-PaEKfZ-zP1pLn9Oo0g,3,Holiday Inn Select was not my first choice whe...,review,22-6yC05pgWbLupHZTjQig,"{u'funny': 0, u'useful': 3, u'cool': 1}"
10,Dl0aiLB55cpQTHKmDISZag,2012-10-16,U-fTqufHQeu08AvWuqG0xQ,4,Great location! Right next to Chinatown and 10...,review,N0pZ9AXup_hYbqJ87Kdd4w,"{u'funny': 0, u'useful': 1, u'cool': 1}"
11,Dl0aiLB55cpQTHKmDISZag,2012-11-24,6RyEV_WpaKFdI1CWA-TDFg,3,Great location close to china town and a short...,review,pzH2tgfgerRZ_WYYzs5cHQ,"{u'funny': 0, u'useful': 0, u'cool': 0}"
12,Dl0aiLB55cpQTHKmDISZag,2013-04-01,281JpADaCMUDrSju75tGfg,4,"Definitely not bad for what we paid, about $10...",review,1JFYO7eb3INeYKd70MCrhg,"{u'funny': 0, u'useful': 1, u'cool': 0}"
13,Dl0aiLB55cpQTHKmDISZag,2013-11-23,TMRD6wml1O7norS3ZYqTGQ,1,Staff was on lockout upon arrival we had to cr...,review,CyGcgtr100TR1Y-NizP15A,"{u'funny': 0, u'useful': 0, u'cool': 0}"
14,Dl0aiLB55cpQTHKmDISZag,2014-06-16,XxImBxQlkA4dFKDnLDsEtQ,4,"Bem localizado, perto do metro, e das principa...",review,jh4ALf53_-q45utuXXjQ2Q,"{u'funny': 0, u'useful': 0, u'cool': 0}"
15,Dl0aiLB55cpQTHKmDISZag,2014-07-18,wOaajJw5zTP0noR3gnID7A,4,Stay here every year or two for four or five d...,review,odel_ars_y_KcLEVKPHPIw,"{u'funny': 0, u'useful': 0, u'cool': 0}"
16,Dl0aiLB55cpQTHKmDISZag,2014-07-22,ispqF22WMIw8dhK-5mINKA,1,"In terms of the hotel itself, I found it to be...",review,BlzZw9mKzUNNCP__Z2bxxg,"{u'funny': 0, u'useful': 0, u'cool': 0}"
17,Dl0aiLB55cpQTHKmDISZag,2014-08-12,7A0GnOGxK9luZAu52qzeOw,4,Fairly-priced hotel. Met my expectations. Room...,review,DcsLZdfE3jAeTym-SDAg7Q,"{u'funny': 0, u'useful': 0, u'cool': 0}"
18,Dl0aiLB55cpQTHKmDISZag,2014-10-28,_naIGnOU8TzgdHn84C5exw,3,"Though this hotel is a bit dated, their locati...",review,mVQJ-dWf4GcWe1aBb6Ffmw,"{u'funny': 0, u'useful': 0, u'cool': 0}"
19,Dl0aiLB55cpQTHKmDISZag,2015-05-25,aGDTLwUAaHJmvJJVvbrjjA,4,My friend was the one who booked the stay here...,review,qHfk5RVd2qxyZ43zDVQYSw,"{u'funny': 0, u'useful': 0, u'cool': 0}"
20,Dl0aiLB55cpQTHKmDISZag,2015-06-07,ps_-uU342DdZtQKw3sawJw,4,Great location for access to the Metro Orange ...,review,wulAeR3b9IvUu1bNVHTKGA,"{u'funny': 0, u'useful': 0, u'cool': 0}"
21,Dl0aiLB55cpQTHKmDISZag,2015-06-08,gGLFFzT0nW_WR2hhPx8xOw,3,Good central location that is a 5-20 min walk ...,review,BjXQ60_cc5R6lN9tIUiiRg,"{u'funny': 0, u'useful': 0, u'cool': 0}"
22,Dl0aiLB55cpQTHKmDISZag,2015-06-25,3G535-nSvAJaKeB-zCfECQ,2,The only good thing about this place was the f...,review,TjwOEiB8GQvupiYEf4Ou4A,"{u'funny': 0, u'useful': 0, u'cool': 0}"
23,Dl0aiLB55cpQTHKmDISZag,2015-08-25,svk7i6TQqYXq2aeMRkdibw,1,Went here for a wedding reception. The general...,review,nZZE8pn8AWCcqIKb3BTzUg,"{u'funny': 0, u'useful': 0, u'cool': 0}"
24,7uWSZpD_pJzLh4ciYT8dgg,2012-09-28,Ub8w98ArwpGue6O4R3tlUA,3,"Qualité prix, très bon, bon service. Si vous a...",review,EF6YBYJnYld0Z1ElYEvm5Q,"{u'funny': 0, u'useful': 0, u'cool': 2}"
25,7uWSZpD_pJzLh4ciYT8dgg,2013-05-14,kuF2iDZDdq-6RAeDuT87iw,3,It's not bad.. but it's also not great. The Im...,review,blTyV99vbzi4P7_ag_QLNQ,"{u'funny': 0, u'useful': 0, u'cool': 0}"
26,7uWSZpD_pJzLh4ciYT8dgg,2013-09-23,As7TociXQuw-d59I8AuhNw,4,Très bon resto de quartier. Apportez votre vin...,review,IiIV3KpFz-8xWZExMfpfNA,"{u'funny': 0, u'useful': 0, u'cool': 0}"
27,uQOBg3NRyrC767zEr1LIgQ,2009-08-07,xRq8UJqAl7uU10HAgW76cw,4,Woohoo... I'm the first to review! \n\nI was a...,review,rgB7YQ7N6_JoNyq9izvIsA,"{u'funny': 2, u'useful': 3, u'cool': 2}"
28,uQOBg3NRyrC767zEr1LIgQ,2010-03-31,SKo7-GvFHzLsnDN0rVHh5A,4,I really loved this hotel. When I graduated hi...,review,R0KUuGccrTb3qUO55Fz2pQ,"{u'funny': 0, u'useful': 0, u'cool': 0}"
29,uQOBg3NRyrC767zEr1LIgQ,2010-06-01,uFyQOOzc92bxB4RuuW9URA,5,I recently found myself facing a birthday mile...,review,DeDbrQoUrERgqikQeb3Fbw,"{u'funny': 3, u'useful': 7, u'cool': 4}"
...,...,...,...,...,...,...,...,...
1651,Pw6EZXm-xFehRDGItBVopw,2014-02-19,bme-bCA3TON5iTCpB_iO2w,4,Having dined at both the Toronto and Montréal ...,review,iCzLzNw-Pzo4cL6nusERYw,"{u'funny': 0, u'useful': 2, u'cool': 0}"
1652,Pw6EZXm-xFehRDGItBVopw,2014-04-18,F9mtSg7KHUSm3Mxc97HEVA,4,"I only came here for the drinks, so that's all...",review,Yh_O_ztux1RhrdgvhYaC6Q,"{u'funny': 0, u'useful': 1, u'cool': 0}"
1653,Pw6EZXm-xFehRDGItBVopw,2014-04-22,YKdVLOt4u37IUXsLzrc8Qg,3,"Pretty solid food, I had the Tuna Tartare and ...",review,iKBStESIZ8c_UBD-hKVZGA,"{u'funny': 0, u'useful': 0, u'cool': 0}"
1654,Pw6EZXm-xFehRDGItBVopw,2014-05-02,Uo2L0iaK9BkNC3xrRomxQQ,5,Montreal is known for its diversity and is ref...,review,DpNcTnOzIyLslq5ib2brPQ,"{u'funny': 0, u'useful': 0, u'cool': 0}"
1655,Pw6EZXm-xFehRDGItBVopw,2014-06-25,0bNNf2kVMe4af-FUJeWLUw,3,I dragged my entire shopping entourage with me...,review,mygTOXEidf2aiXfMRrr3yw,"{u'funny': 0, u'useful': 0, u'cool': 0}"
1656,Pw6EZXm-xFehRDGItBVopw,2014-09-17,5IJ25GA0AmT4Zj64HiFAVw,5,Very impressed. We loved the bacon-wrapped sca...,review,8kPTD3IwG7qtfy7WstxQfg,"{u'funny': 0, u'useful': 1, u'cool': 0}"
1657,Pw6EZXm-xFehRDGItBVopw,2014-12-03,BopA0cWBaKus30RUl-rDBw,3,"Great service, venue was nice. Food was great ...",review,Vpklmt9vyXbcpzF_X5pFsg,"{u'funny': 0, u'useful': 1, u'cool': 0}"
1658,Pw6EZXm-xFehRDGItBVopw,2015-01-03,mKbTHE32_sTOUXGesYkQdQ,5,Had a great meal and service was next to none....,review,FC8LgOD5nruR4eTZ62LZTQ,"{u'funny': 0, u'useful': 0, u'cool': 0}"
1659,Pw6EZXm-xFehRDGItBVopw,2015-04-16,eW4ksVabu-1fjcfRhViPGw,4,So you look at the menu and realize this is so...,review,4cUDFDCeIVG2Qybffu-KZQ,"{u'funny': 0, u'useful': 1, u'cool': 0}"
1660,Pw6EZXm-xFehRDGItBVopw,2015-04-28,duHKvNNKg7lz-cBZUZNSJQ,2,"Very nice and attentive staff, but then again ...",review,RWLvVd6fa69-Kws416IOgA,"{u'funny': 0, u'useful': 0, u'cool': 0}"
1661,Pw6EZXm-xFehRDGItBVopw,2015-05-15,Rs1kqmg4SCJ1AeaYfj1BGg,5,This restaurant is an overlooked gem. The sty...,review,ay_IgBCv4CNpp7DG8APcxQ,"{u'funny': 0, u'useful': 0, u'cool': 0}"
1662,Pw6EZXm-xFehRDGItBVopw,2015-06-01,BVtfdhPmvb9NvHHdyShXhQ,5,Was super impressed with the braised beef cava...,review,_X-U6kqTsjBZnaMWmOKusA,"{u'funny': 0, u'useful': 0, u'cool': 0}"
1663,Pw6EZXm-xFehRDGItBVopw,2015-06-02,EqeBZ0neSDj784NOJPTMMQ,5,Was introduced to this restaurant by a client ...,review,vNuVvxfFAZKVDJvVlvaoEQ,"{u'funny': 0, u'useful': 1, u'cool': 0}"
1664,Pw6EZXm-xFehRDGItBVopw,2015-06-03,873K3z2LF0YV6E_vMZVYHQ,4,This place was really great! We were visiting ...,review,CX60YXeqB--j5bUTxfnDAQ,"{u'funny': 0, u'useful': 1, u'cool': 0}"
1665,Pw6EZXm-xFehRDGItBVopw,2015-06-05,8YhRa-ouAIWC9hp7rons-A,5,Had drinks and dinner at the bar. Had the Prix...,review,PL81IFV3cBNRFKDk9EmFbQ,"{u'funny': 0, u'useful': 0, u'cool': 0}"
1666,Pw6EZXm-xFehRDGItBVopw,2015-06-07,-p5ucwx9wwUKqggJ-K79wA,4,We had the short ribs with polenta and green b...,review,q9089yQv-_Luj1bDobp6Xg,"{u'funny': 0, u'useful': 0, u'cool': 0}"
1667,Pw6EZXm-xFehRDGItBVopw,2015-06-07,05_pXs6lxfbeAo_6x5cF4Q,5,This was the best French restaurant that we vi...,review,v6BGDMUudj3aFvCLyyY-Nw,"{u'funny': 0, u'useful': 0, u'cool': 0}"
1668,Pw6EZXm-xFehRDGItBVopw,2015-06-11,vjVIZ_7xA0fU-41yOPgRbg,3,"Eh, the food isn't amazing. Average for settin...",review,yp43jJ88DCGan6Cf--tSbw,"{u'funny': 0, u'useful': 0, u'cool': 0}"
1669,Pw6EZXm-xFehRDGItBVopw,2015-06-12,KlyhKJy5xvK7v9KKbVPDzw,5,Everything is made by them. Had the smoked mea...,review,jH-DxKe_CLZbsdhPi5r2DA,"{u'funny': 0, u'useful': 0, u'cool': 0}"
1670,Pw6EZXm-xFehRDGItBVopw,2015-08-27,2NS7hS5vk2r4KjtAv8P7pg,1,"Worst service ever !\n\nResturant was empty, b...",review,aiuWtuXjGshQmrjhaMHSsQ,"{u'funny': 0, u'useful': 1, u'cool': 0}"
1671,Pw6EZXm-xFehRDGItBVopw,2015-09-05,l4-5dO5sSykaMtoiCbKwVA,1,Le pire service de toute ma vie! Ma copine et ...,review,G6O5lO11hJh8UDPaaSLmtQ,"{u'funny': 0, u'useful': 1, u'cool': 0}"
1672,Pw6EZXm-xFehRDGItBVopw,2015-12-16,r7D-Wiio08Yla76GyVLFlA,3,Came here for the $1 oysters. The service was ...,review,9odAkdENOQkdciZoAIYX-A,"{u'funny': 0, u'useful': 2, u'cool': 0}"
1673,Pw6EZXm-xFehRDGItBVopw,2015-12-23,jNXCr6yOhwXJrSswlb6nOw,2,"Pro,\nFood was decent and had a great ambiance...",review,eb1D-HWL0KGDeB4c7L4WhQ,"{u'funny': 0, u'useful': 0, u'cool': 0}"
1674,AlcIfwNs0BmIDgbGO8Sk1A,2014-12-18,-lzoJnUeEV7yZI49_RG6tA,1,It was my only bad experience with Hertz.\nI a...,review,FhibRKVRj1zgYzIKOY28bA,"{u'funny': 0, u'useful': 0, u'cool': 0}"
1675,AlcIfwNs0BmIDgbGO8Sk1A,2015-04-06,1Nw_HUwsQHj8Wftx8b_-cg,1,I had a bad experience with this company. Firs...,review,ioyOKZJa_9xgYDh9VmlkrQ,"{u'funny': 0, u'useful': 1, u'cool': 0}"
1676,AlcIfwNs0BmIDgbGO8Sk1A,2015-09-21,uqln8ekdn0kdSm-DCDdwOg,1,I agree with some of the other comments. I am...,review,Fi21aBlxBQH5HLZ894WQNQ,"{u'funny': 0, u'useful': 0, u'cool': 0}"
1677,AlcIfwNs0BmIDgbGO8Sk1A,2015-11-18,Bo30rRiykvzPA10GvptBYg,1,The most horrible staff with absolutely ZERO p...,review,2KJJ10pe8ihNjGb70_GVsg,"{u'funny': 0, u'useful': 0, u'cool': 0}"
1678,HvP4Tvx9mihceKb2gnbhgw,2015-07-11,v0xoLHOQO-KHuDSA5Tr86Q,2,Overpriced airport food. Quality is questiona...,review,FtI-ONGf-6Nq_9i73-iE3w,"{u'funny': 0, u'useful': 0, u'cool': 0}"
1679,HvP4Tvx9mihceKb2gnbhgw,2015-12-15,mcBPdQv6Om1Bw8A2NaDcLw,3,This place looks torn down! The menu cards wer...,review,dEpb30V5rw77cPeHi8SXwA,"{u'funny': 2, u'useful': 2, u'cool': 2}"
1680,HvP4Tvx9mihceKb2gnbhgw,2015-12-18,qJWJyU_IAEXaUxlgBijjrw,1,"0 start. The place is dirty, filthy, full of g...",review,ojXTeR4_nAt4_vYWG9Qcew,"{u'funny': 0, u'useful': 0, u'cool': 0}"

In [26]:
rev_star_counts = revframe['stars'].value_counts()

In [27]:
rev_star_counts[:10]

4    583
5    427
3    337
2    183
1    151
Name: stars, dtype: int64

In [28]:
user_avg_star_counts = userframe['average_stars'].value_counts()

In [29]:
user_avg_star_counts[:]

4.00    56
5.00    46
3.00    30
3.75    30
3.50    26
3.76    25
3.67    23
3.86    23
3.79    22
3.82    22
3.60    22
4.06    21
3.83    20
3.80    20
3.84    20
3.55    19
3.66    19
3.92    19
3.59    19
1.00    19
4.14    19
3.56    18
3.33    18
3.62    17
3.54    16
3.85    16
3.72    16
3.68    16
2.00    16
3.87    15
        ..
2.47     1
4.69     1
4.72     1
1.67     1
2.25     1
2.96     1
2.85     1
2.62     1
2.18     1
2.88     1
2.87     1
4.35     1
4.46     1
2.99     1
1.91     1
2.77     1
4.77     1
2.36     1
2.82     1
1.81     1
4.68     1
2.40     1
3.13     1
1.22     1
3.03     1
2.91     1
4.88     1
4.65     1
2.61     1
2.71     1
Name: average_stars, dtype: int64

In [30]:
biz_star_counts = bizframe['stars'].value_counts()

In [31]:
biz_star_counts

In [ ]:
bizframe['stars'].describe()

In [33]:
userframe['review_count'].describe()

count    1681.000000
mean      178.804283
std       381.619187
min         1.000000
25%        12.000000
50%        53.000000
75%       194.000000
max      5648.000000
Name: review_count, dtype: float64

In [34]:
userframe['review_count'].skew()

7.0647824735931026

In [35]:
revframe['stars'].describe()

count    1681.000000
mean        3.566330
std         1.229318
min         1.000000
25%         3.000000
50%         4.000000
75%         5.000000
max         5.000000
Name: stars, dtype: float64

In [36]:
revframe['stars'].median()

4.0

In [37]:
rev_user_frame = pd.merge(revframe, userframe, on='user_id')

In [38]:
rev_user_frame

,business_id,date,review_id,stars,text,type_x,user_id,votes_x,average_stars,compliments,elite,fans,friends,name,review_count,type_y,votes_y,yelping_since
0,5LBVJ2_UslInSx5n7D__xQ,2008-08-07,OYuPL99eMFMaDY4IZV18Rg,5,Priape is the hottest most popular gay adult b...,review,e-t3dRzH9bmsanmhYgSiVQ,"{u'funny': 2, u'useful': 4, u'cool': 3}",3.52,"{u'profile': 5, u'funny': 37, u'cute': 8, u'pl...","[2006, 2007, 2008, 2009, 2010, 2011, 2012, 201...",102,"[rpOyqD_893cqmDAtJLbdog, CYJnkecyF1DOXVFvBeFmt...",Matthew,1820,user,"{u'funny': 2020, u'useful': 6438, u'cool': 2835}",2006-05
1,5LBVJ2_UslInSx5n7D__xQ,2008-08-07,OYuPL99eMFMaDY4IZV18Rg,5,Priape is the hottest most popular gay adult b...,review,e-t3dRzH9bmsanmhYgSiVQ,"{u'funny': 2, u'useful': 4, u'cool': 3}",3.52,"{u'profile': 5, u'funny': 37, u'cute': 8, u'pl...","[2006, 2007, 2008, 2009, 2010, 2011, 2012, 201...",102,"[rpOyqD_893cqmDAtJLbdog, CYJnkecyF1DOXVFvBeFmt...",Matthew,1820,user,"{u'funny': 2020, u'useful': 6438, u'cool': 2835}",2006-05
2,qfNuXG0254-YGBIy2_SqCQ,2009-03-27,6GFl0t4GQAQXzX7jqoWIkQ,4,An amusement park on an island! Cool!\n\nThis ...,review,e-t3dRzH9bmsanmhYgSiVQ,"{u'funny': 0, u'useful': 1, u'cool': 1}",3.52,"{u'profile': 5, u'funny': 37, u'cute': 8, u'pl...","[2006, 2007, 2008, 2009, 2010, 2011, 2012, 201...",102,"[rpOyqD_893cqmDAtJLbdog, CYJnkecyF1DOXVFvBeFmt...",Matthew,1820,user,"{u'funny': 2020, u'useful': 6438, u'cool': 2835}",2006-05
3,qfNuXG0254-YGBIy2_SqCQ,2009-03-27,6GFl0t4GQAQXzX7jqoWIkQ,4,An amusement park on an island! Cool!\n\nThis ...,review,e-t3dRzH9bmsanmhYgSiVQ,"{u'funny': 0, u'useful': 1, u'cool': 1}",3.52,"{u'profile': 5, u'funny': 37, u'cute': 8, u'pl...","[2006, 2007, 2008, 2009, 2010, 2011, 2012, 201...",102,"[rpOyqD_893cqmDAtJLbdog, CYJnkecyF1DOXVFvBeFmt...",Matthew,1820,user,"{u'funny': 2020, u'useful': 6438, u'cool': 2835}",2006-05
4,5LBVJ2_UslInSx5n7D__xQ,2015-09-13,rUczg4mkamTnKS6eBTsyog,4,It's a large store with a good selection of......,review,uF1-c9oji5qiHntYsmfKGg,"{u'funny': 2, u'useful': 7, u'cool': 6}",3.85,"{u'profile': 8, u'funny': 28, u'cute': 8, u'pl...","[2013, 2014, 2015]",117,"[rpOyqD_893cqmDAtJLbdog, 8J4IIYcqBlFch8T90N923...",James,1444,user,"{u'funny': 4040, u'useful': 7417, u'cool': 5710}",2011-11
5,5LBVJ2_UslInSx5n7D__xQ,2015-09-13,rUczg4mkamTnKS6eBTsyog,4,It's a large store with a good selection of......,review,uF1-c9oji5qiHntYsmfKGg,"{u'funny': 2, u'useful': 7, u'cool': 6}",3.85,"{u'profile': 8, u'funny': 28, u'cute': 8, u'pl...","[2013, 2014, 2015]",117,"[rpOyqD_893cqmDAtJLbdog, 8J4IIYcqBlFch8T90N923...",James,1444,user,"{u'funny': 4040, u'useful': 7417, u'cool': 5710}",2011-11
6,IOf7i3d1Li2rHxurX2cGdQ,2015-09-15,YSS-CUj1DK4P9ocP-8OmOw,4,It was closed when I came. That's OK because I...,review,uF1-c9oji5qiHntYsmfKGg,"{u'funny': 5, u'useful': 11, u'cool': 7}",3.85,"{u'profile': 8, u'funny': 28, u'cute': 8, u'pl...","[2013, 2014, 2015]",117,"[rpOyqD_893cqmDAtJLbdog, 8J4IIYcqBlFch8T90N923...",James,1444,user,"{u'funny': 4040, u'useful': 7417, u'cool': 5710}",2011-11
7,IOf7i3d1Li2rHxurX2cGdQ,2015-09-15,YSS-CUj1DK4P9ocP-8OmOw,4,It was closed when I came. That's OK because I...,review,uF1-c9oji5qiHntYsmfKGg,"{u'funny': 5, u'useful': 11, u'cool': 7}",3.85,"{u'profile': 8, u'funny': 28, u'cute': 8, u'pl...","[2013, 2014, 2015]",117,"[rpOyqD_893cqmDAtJLbdog, 8J4IIYcqBlFch8T90N923...",James,1444,user,"{u'funny': 4040, u'useful': 7417, u'cool': 5710}",2011-11
8,Dl0aiLB55cpQTHKmDISZag,2010-04-21,NhwfGKDaFeuxOTNTkFpp7w,3,Stayed here for 2 nights with 2 girlfriends. G...,review,NUNVFFv_VEyVn3G7kg1V8g,"{u'funny': 0, u'useful': 0, u'cool': 0}",3.47,"{u'cute': 1, u'cool': 1, u'funny': 1, u'photos...",[],1,[snd45oedwXxF9tsHUX_6dg],Meg,44,user,"{u'funny': 21, u'useful': 83, u'cool': 14}",2009-09
9,Dl0aiLB55cpQTHKmDISZag,2010-06-07,PjFJYb_tsU7uR1xyCnw1sQ,3,This is one of 3 Holiday Inns in the general M...,review,0KZsDw5pGKrYEWGXg9oUsg,"{u'funny': 2, u'useful': 2, u'cool': 2}",3.45,"{u'profile': 2, u'cute': 4, u'funny': 37, u'pl...","[2009, 2010, 2011, 2012]",22,"[uguXfIEpI65jSCH5MgUDgA, Rir-YRPPClKXDFQbc3BsV...",Jeff,394,user,"{u'funny': 956, u'useful': 1524, u'cool': 970}",2008-05
10,Dl0aiLB55cpQTHKmDISZag,2010-06-07,PjFJYb_tsU7uR1xyCnw1sQ,3,This is one of 3 Holiday Inns in the general M...,review,0KZsDw5pGKrYEWGXg9oUsg,"{u'funny': 2, u'useful': 2, u'cool': 2}",3.45,"{u'profile': 2, u'cute': 4, u'funny': 37, u'pl...","[2009, 2010, 2011, 2012]",22,"[uguXfIEpI65jSCH5MgUDgA, Rir-YRPPClKXDFQbc3BsV...",Jeff,394,user,"{u'funny': 956, u'useful': 1524, u'cool': 970}",2008-05
11,j_Mfxog4RUlv3J3KSNRWnw,2010-11-08,qH2fzd0Hzx4g5qzXDRB1mA,3,Les Trois Brasseurs is one of those places I w...,review,0KZsDw5pGKrYEWGXg9oUsg,"{u'funny': 2, u'useful': 2, u'cool': 2}",3.45,"{u'profile': 2, u'cute': 4, u'funny': 37, u'pl...","[2009, 2010, 2011, 2012]",22,"[uguXfIEpI65jSCH5MgUDgA, Rir-YRPPClKXDFQbc3BsV...",Jeff,394,user,"{u'funny': 956, u'useful': 1524, u'cool': 970}",2008-05
12,j_Mfxog4RUlv3J3KSNRWnw,2010-11-08,qH2fzd0Hzx4g5qzXDRB1mA,3,Les Trois Brasseurs is one of those places I w...,review,0KZsDw5pGKrYEWGXg9oUsg,"{u'funny': 2, u'useful': 2, u'cool': 2}",3.45,"{u'profile': 2, u'cute': 4, u'funny': 37, u'pl...","[2009, 2010, 2011, 2012]",22,"[uguXfIEpI65jSCH5MgUDgA, Rir-YRPPClKXDFQbc3BsV...",Jeff,394,user,"{u'funny': 956, u'useful': 1524, u'cool': 970}",2008-05
13,Dl0aiLB55cpQTHKmDISZag,2010-09-07,2mc7S6djY9xcfdlYYZpWSQ,3,I enjoyed staying at this location because it ...,review,gMOlCdsMxODvZ9G7yMZmTA,"{u'funny': 0, u'useful': 0, u'cool': 0}",3.39,"{u'profile': 1, u'funny': 4, u'cute': 1, u'pla...","[2006, 2007, 2009, 2010, 2011]",15,"[GJYJX4SujVj3BR8v2F9PDQ, WGf64PeXIZtdoqkBj0-_z...",Susan,482,user,"{u'funny': 164, u'useful': 530, u'cool': 206}",2006-02
14,Dl0aiLB55cpQTHKmDISZag,2010-10-19,GbKnvGM-_uriCtJ6Z2aMVA,4,Enjoyed my stay here last weekend. \n\nIt's ri...,review,cZY5YYDJywlgmVfCr-K9vQ,"{u'funny': 0, u'useful': 1, u'cool': 1}",3.49,"{u'profile': 4, u'funny': 10, u'cute': 5, u'pl...","[2009, 2010, 2011, 2012, 2013, 2014]",14,"[mTe0H6OteDEoEYp_O4AgMQ, 4j_Otx9PfVPrFP8xfuH7D...",Heather,222,user,"{u'funny': 184, u'useful': 507, u'cool': 213}",2009-05
15,Dl0aiLB55cpQTHKmDISZag,2011-10-12,B2w3vO7zK5GEbxrbMFFQnw,4,"Friendly staff, super clean hotel, and very af...",review,dFC0MPQQNu89a9LpfL4PhA,"{u'funny': 0, u'useful': 1, u'cool': 1}",3.79,"{u'funny': 3, u'plain': 7, u'writer': 3, u'not...","[2011, 2012, 2013]",8,"[rpOyqD_893cqmDAtJLbdog, 8E0DGec8LNn6oDmPHmj-m...",Eric,198,user,"{u'funny': 269, u'useful': 428, u'cool': 107}",2009-01
16,Dl0aiLB55cpQTHKmDISZag,2011-10-19,RpjUILT9nYl_e0uD6oyThQ,2,first the good things: It's right on top of a ...,review,s0y6bqr8uDQdB65W7Vdy4Q,"{u'funny': 0, u'useful': 0, u'cool': 0}",3.00,{},[],0,[],Bert,2,user,"{u'funny': 0, u'useful': 0, u'cool': 0}",2011-01
17,Dl0aiLB55cpQTHKmDISZag,2011-12-13,enRWKjGgBaIziqfGudw3hg,4,Located in Montreal's Chinatown and close to R...,review,H0TE5OCbgfjv45ArYyErsQ,"{u'funny': 1, u'useful': 2, u'cool': 3}",3.77,"{u'note': 6, u'plain': 5, u'more': 1, u'writer...",[],4,"[GcDR6pgjbuSvG4nxMUzWcw, 4j_Otx9PfVPrFP8xfuH7D...",Luis,433,user,"{u'funny': 147, u'useful': 779, u'cool': 145}",2011-04
18,Dl0aiLB55cpQTHKmDISZag,2012-02-22,Mkw-PaEKfZ-zP1pLn9Oo0g,3,Holiday Inn Select was not my first choice whe...,review,22-6yC05pgWbLupHZTjQig,"{u'funny': 0, u'useful': 3, u'cool': 1}",3.26,"{u'profile': 24, u'funny': 708, u'cute': 50, u...","[2009, 2010, 2011, 2012, 2013, 2014, 2015]",318,"[nADIxfovhb5Dj6nPoZwHGg, mAuBHENS_DeFCQqrJC_Ux...",Jennifer,5050,user,"{u'funny': 7368, u'useful': 13212, u'cool': 8473}",2009-11
19,Dl0aiLB55cpQTHKmDISZag,2012-10-16,U-fTqufHQeu08AvWuqG0xQ,4,Great location! Right next to Chinatown and 10...,review,N0pZ9AXup_hYbqJ87Kdd4w,"{u'funny': 0, u'useful': 1, u'cool': 1}",3.57,"{u'funny': 1, u'plain': 3, u'writer': 2, u'not...","[2012, 2013, 2014]",6,"[Ef3rlLYr_IlVWlDN_hq_Gw, 8E0DGec8LNn6oDmPHmj-m...",Charles,128,user,"{u'funny': 99, u'useful': 173, u'cool': 59}",2011-03
20,Dl0aiLB55cpQTHKmDISZag,2012-10-16,U-fTqufHQeu08AvWuqG0xQ,4,Great location! Right next to Chinatown and 10...,review,N0pZ9AXup_hYbqJ87Kdd4w,"{u'funny': 0, u'useful': 1, u'cool': 1}",3.57,"{u'funny': 1, u'plain': 3, u'writer': 2, u'not...","[2012, 2013, 2014]",6,"[Ef3rlLYr_IlVWlDN_hq_Gw, 8E0DGec8LNn6oDmPHmj-m...",Charles,128,user,"{u'funny': 99, u'useful': 173, u'cool': 59}",2011-03
21,uQOBg3NRyrC767zEr1LIgQ,2012-06-27,_dD0X8oVkNF7iO-V3DJbKA,4,"Great location. Reserved a ""deluxe room with m...",review,N0pZ9AXup_hYbqJ87Kdd4w,"{u'funny': 0, u'useful': 1, u'cool': 1}",3.57,"{u'funny': 1, u'plain': 3, u'writer': 2, u'not...","[2012, 2013, 2014]",6,"[Ef3rlLYr_IlVWlDN_hq_Gw, 8E0DGec8LNn6oDmPHmj-m...",Charles,128,user,"{u'funny': 99, u'useful': 173, u'cool': 59}",2011-03
22,uQOBg3NRyrC767zEr1LIgQ,2012-06-27,_dD0X8oVkNF7iO-V3DJbKA,4,"Great location. Reserved a ""deluxe room with m...",review,N0pZ9AXup_hYbqJ87Kdd4w,"{u'funny': 0, u'useful': 1, u'cool': 1}",3.57,"{u'funny': 1, u'plain': 3, u'writer': 2, u'not...","[2012, 2013, 2014]",6,"[Ef3rlLYr_IlVWlDN_hq_Gw, 8E0DGec8LNn6oDmPHmj-m...",Charles,128,user,"{u'funny': 99, u'useful': 173, u'cool': 59}",2011-03
23,Dl0aiLB55cpQTHKmDISZag,2012-11-24,6RyEV_WpaKFdI1CWA-TDFg,3,Great location close to china town and a short...,review,pzH2tgfgerRZ_WYYzs5cHQ,"{u'funny': 0, u'useful': 0, u'cool': 0}",3.40,{},[],0,[],Kevin,5,user,"{u'funny': 0, u'useful': 0, u'cool': 0}",2012-06
24,Dl0aiLB55cpQTHKmDISZag,2013-04-01,281JpADaCMUDrSju75tGfg,4,"Definitely not bad for what we paid, about $10...",review,1JFYO7eb3INeYKd70MCrhg,"{u'funny': 0, u'useful': 1, u'cool': 0}",3.44,"{u'plain': 2, u'writer': 3, u'note': 1, u'phot...",[],4,"[R2Pt2kZTrONyedI0-65FWg, tgcnkIx2fyqiMCrgleuz3...",Gabrielle,92,user,"{u'funny': 25, u'useful': 78, u'cool': 18}",2010-03
25,Dl0aiLB55cpQTHKmDISZag,2013-04-01,281JpADaCMUDrSju75tGfg,4,"Definitely not bad for what we paid, about $10...",review,1JFYO7eb3INeYKd70MCrhg,"{u'funny': 0, u'useful': 1, u'cool': 0}",3.44,"{u'plain': 2, u'writer': 3, u'note': 1, u'phot...",[],4,"[R2Pt2kZTrONyedI0-65FWg, tgcnkIx2fyqiMCrgleuz3...",Gabrielle,92,user,"{u'funny': 25, u'useful': 78, u'cool': 18}",2010-03
26,TwBJk4Dl0mGhkupXBtHFXg,2013-04-01,KIJYMQWg5nMY4ZJr1WFjJQ,4,New favorite coffee place! They rival Peets in...,review,1JFYO7eb3INeYKd70MCrhg,"{u'funny': 0, u'useful': 0, u'cool': 0}",3.44,"{u'plain': 2, u'writer': 3, u'note': 1, u'phot...",[],4,"[R2Pt2kZTrONyedI0-65FWg, tgcnkIx2fyqiMCrgleuz3...",Gabrielle,92,user,"{u'funny': 25, u'useful': 78, u'cool': 18}",2010-03
27,TwBJk4Dl0mGhkupXBtHFXg,2013-04-01,KIJYMQWg5nMY4ZJr1WFjJQ,4,New favorite coffee place! They rival Peets in...,review,1JFYO7eb3INeYKd70MCrhg,"{u'funny': 0, u'useful': 0, u'cool': 0}",3.44,"{u'plain': 2, u'writer': 3, u'note': 1, u'phot...",[],4,"[R2Pt2kZTrONyedI0-65FWg, tgcnkIx2fyqiMCrgleuz3...",Gabrielle,92,user,"{u'funny': 25, u'useful': 78, u'cool': 18}",2010-03
28,Dl0aiLB55cpQTHKmDISZag,2013-11-23,TMRD6wml1O7norS3ZYqTGQ,1,Staff was on lockout upon arrival we had to cr...,review,CyGcgtr100TR1Y-NizP15A,"{u'funny': 0, u'useful': 0, u'cool': 0}",3.86,"{u'note': 1, u'photos': 1, u'hot': 1, u'cool':...",[],1,"[4j_Otx9PfVPrFP8xfuH7DA, nso-QbumRWN8JlkG_t-Cb...",Tara,56,user,"{u'funny': 10, u'useful': 38, u'cool': 9}",2012-02
29,Dl0aiLB55cpQTHKmDISZag,2014-06-16,XxImBxQlkA4dFKDnLDsEtQ,4,"Bem localizado, perto do metro, e das principa...",review,jh4ALf53_-q45utuXXjQ2Q,"{u'funny': 0, u'useful': 0, u'cool': 0}",4.17,{},[],1,[],Thamy,6,user,"{u'funny': 0, u'useful': 1, u'cool': 1}",2014-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2633,bFWGhsKUgc6PF9uSqJbkeA,2015-07-14,JpphBaabft2kWb4Z7grmOw,4,Good food but very small portions for the pric...,review,CXCELHzmHm1G170BaS5jMA,"{u'funny': 0, u'useful': 0, u'cool': 0}",4.60,{},[],0,[],Fares,5,user,"{u'funny': 0, u'useful': 1, u'cool': 0}",2015-07
2634,Pw6EZXm-xFehRDGItBVopw,2013-09-29,L76kCCb7Zuu89G9UJlJJ1g,4,I feel weird reviewing this place because it s...,review,6Mo9AF-GDkoAASMzE7zwAA,"{u'funny': 2, u'useful': 5, u'cool': 4}",4.00,{},[],0,"[aAsIECGpgFWVUMAVR4Pj8A, lG75L_XwxWc_61G_9Lrwc...",Julien,2,user,"{u'funny': 3, u'useful': 10, u'cool': 5}",2007-05
2635,Pw6EZXm-xFehRDGItBVopw,2013-10-27,4A4yYm-j8N8IOSKCSdHRQA,5,So I've discovered why (maybe) this place isn'...,review,ABwBdakI82vFR1qhpABqCw,"{u'funny': 0, u'useful': 2, u'cool': 0}",3.75,"{u'plain': 1, u'writer': 1, u'cool': 1}",[],1,"[5pqj24r1tWW28-tZorYScg, 5jkmbSOaVAIk8KsVWgIFd...",Yasmin,16,user,"{u'funny': 4, u'useful': 22, u'cool': 9}",2013-06
2636,Pw6EZXm-xFehRDGItBVopw,2013-12-11,DEqFDaoi28Fy-43QSOefwQ,3,"Came here while on vacation, it happened to be...",review,8_HeMGzNC75ciHsFduYmcg,"{u'funny': 0, u'useful': 1, u'cool': 1}",3.42,{u'plain': 1},[],1,[],Kendra,44,user,"{u'funny': 20, u'useful': 34, u'cool': 7}",2012-06
2637,Pw6EZXm-xFehRDGItBVopw,2014-02-19,bme-bCA3TON5iTCpB_iO2w,4,Having dined at both the Toronto and Montréal ...,review,iCzLzNw-Pzo4cL6nusERYw,"{u'funny': 0, u'useful': 2, u'cool': 0}",3.70,"{u'plain': 3, u'cool': 1}",[],1,"[bw_exRrchDm-b8WfSInAxQ, yhXjwzecCD1ml9md4lMao...",Solmaz,23,user,"{u'funny': 3, u'useful': 28, u'cool': 9}",2013-05
2638,Pw6EZXm-xFehRDGItBVopw,2014-04-18,F9mtSg7KHUSm3Mxc97HEVA,4,"I only came here for the drinks, so that's all...",review,Yh_O_ztux1RhrdgvhYaC6Q,"{u'funny': 0, u'useful': 1, u'cool': 0}",3.63,"{u'funny': 8, u'plain': 67, u'writer': 35, u'n...","[2007, 2008, 2009, 2010, 2011, 2012, 2013, 201...",19,"[GJYJX4SujVj3BR8v2F9PDQ, LroJKi7_BWqDT7lbHvt6k...",Milee,718,user,"{u'funny': 256, u'useful': 899, u'cool': 454}",2007-01
2639,Pw6EZXm-xFehRDGItBVopw,2014-04-22,YKdVLOt4u37IUXsLzrc8Qg,3,"Pretty solid food, I had the Tuna Tartare and ...",review,iKBStESIZ8c_UBD-hKVZGA,"{u'funny': 0, u'useful': 0, u'cool': 0}",3.42,"{u'funny': 13, u'cute': 1, u'plain': 33, u'wri...","[2013, 2014, 2015]",11,"[_i7MieuO7KQXJ6ZLO4ZTqg, _1mBBkphbaKO3EQHnpBQJ...",Andrew,234,user,"{u'funny': 239, u'useful': 470, u'cool': 257}",2012-06
2640,Pw6EZXm-xFehRDGItBVopw,2014-05-02,Uo2L0iaK9BkNC3xrRomxQQ,5,Montreal is known for its diversity and is ref...,review,DpNcTnOzIyLslq5ib2brPQ,"{u'funny': 0, u'useful': 0, u'cool': 0}",5.00,{},[],0,[],Lovemy,1,user,"{u'funny': 0, u'useful': 0, u'cool': 0}",2014-05
2641,Pw6EZXm-xFehRDGItBVopw,2014-09-17,5IJ25GA0AmT4Zj64HiFAVw,5,Very impressed. We loved the bacon-wrapped sca...,review,8kPTD3IwG7qtfy7WstxQfg,"{u'funny': 0, u'useful': 1, u'cool': 0}",3.60,{},[],0,[],M,9,user,"{u'funny': 1, u'useful': 7, u'cool': 0}",2014-08
2642,Pw6EZXm-xFehRDGItBVopw,2014-12-03,BopA0cWBaKus30RUl-rDBw,3,"Great service, venue was nice. Food was great ...",review,Vpklmt9vyXbcpzF_X5pFsg,"{u'funny': 0, u'useful': 1, u'cool': 0}",2.67,{u'funny': 1},[],0,[731tc9AbEVmGTuHtbBCNAg],Harpreet,3,user,"{u'funny': 0, u'useful': 3, u'cool': 0}",2012-02
2643,Pw6EZXm-xFehRDGItBVopw,2015-01-03,mKbTHE32_sTOUXGesYkQdQ,5,Had a great meal and service was next to none....,review,FC8LgOD5nruR4eTZ62LZTQ,"{u'funny': 0, u'useful': 0, u'cool': 0}",3.00,{},[],0,[],Sonya,2,user,"{u'funny': 0, u'useful': 1, u'cool': 0}",2014-06
2644,Pw6EZXm-xFehRDGItBVopw,2015-04-16,eW4ksVabu-1fjcfRhViPGw,4,So you look at the menu and realize this is so...,review,4cUDFDCeIVG2Qybffu-KZQ,"{u'funny': 0, u'useful': 1, u'cool': 0}",4.08,{},[],0,"[J-4LTqrnyz5xEZtzKXJ99w, QuWB4_6s9CwjA4J7eievT...",Katie,14,user,"{u'funny': 4, u'useful': 13, u'cool': 3}",2012-12
2645,Pw6EZXm-xFehRDGItBVopw,2015-04-28,duHKvNNKg7lz-cBZUZNSJQ,2,"Very nice and attentive staff, but then again ...",review,RWLvVd6fa69-Kws416IOgA,"{u'funny': 0, u'useful': 0, u'cool': 0}",2.00,{},[],0,[],Nathalie,1,user,"{u'funny': 0, u'useful': 1, u'cool': 0}",2015-02
2646,Pw6EZXm-xFehRDGItBVopw,2015-05-15,Rs1kqmg4SCJ1AeaYfj1BGg,5,This restaurant is an overlooked gem. The sty...,review,ay_IgBCv4CNpp7DG8APcxQ,"{u'funny': 0, u'useful': 0, u'cool': 0}",5.00,{},[],0,[],J,1,user,"{u'funny': 0, u'useful': 0, u'cool': 0}",2015-05
2647,Pw6EZXm-xFehRDGItBVopw,2015-06-02,EqeBZ0neSDj784NOJPTMMQ,5,Was introduced to this restaurant by a client ...,review,vNuVvxfFAZKVDJvVlvaoEQ,"{u'funny': 0, u'useful': 1, u'cool': 0}",3.72,{u'writer': 1},[],0,[],Robert,16,user,"{u'funny': 7, u'useful': 16, u'cool': 14}",2010-01
2648,Pw6EZXm-xFehRDGItBVopw,2015-06-03,873K3z2LF0YV6E_vMZVYHQ,4,This place was really great! We were visiting ...,review,CX60YXeqB--j5bUTxfnDAQ,"{u'funny': 0, u'useful': 1, u'cool': 0}",3.41,"{u'hot': 1, u'writer': 1}",[],0,[],Paul,41,user,"{u'funny': 12, u'useful': 27, u'cool': 7}",2014-05
2649,Pw6EZXm-xFehRDGItBVopw,2015-06-05,8YhRa-ouAIWC9hp7rons-A,5,Had drinks and dinner at the bar. Had the Prix...,review,PL81IFV3cBNRFKDk9EmFbQ,"{u'funny': 0, u'useful': 0, u'cool': 0}",3.50,{},[],0,[],Dave,2,user,"{u'funny': 0, u'useful': 1, u'cool': 0}",2014-01
2650,Pw6EZXm-xFehRDGItBVopw,2015-06-07,-p5ucwx9wwUKqggJ-K79wA,4,We had the short ribs with polenta and green b...,review,q9089yQv-_Luj1bDobp6Xg,"{u'funny': 0, u'useful': 0, u'cool': 0}",3.58,{u'writer': 1},[],0,[],Melanie,66,user,"{u'funny': 0, u'useful': 5, u'cool': 0}",2015-02
2651,Pw6EZXm-xFehRDGItBVopw,2015-06-07,05_pXs6lxfbeAo_6x5cF4Q,5,This was the best French restaurant that we vi...,review,v6BGDMUudj3aFvCLyyY-Nw,"{u'funny': 0, u'useful': 0, u'cool': 0}",3.92,{u'plain': 1},[],1,[],Lily,104,user,"{u'funny': 3, u'useful': 32, u'cool': 11}",2012-05
2652,Pw6EZXm-xFehRDGItBVopw,2015-06-11,vjVIZ_7xA0fU-41yOPgRbg,3,"Eh, the food isn't amazing. Average for settin...",review,yp43jJ88DCGan6Cf--tSbw,"{u'funny': 0, u'useful': 0, u'cool': 0}",3.73,"{u'funny': 1, u'plain': 4, u'writer': 2, u'not...",[2015],5,"[GMtILOfAHXUMrfMgLPG0gg, CE5nf8rZ0NqO7ZGsztyi_...",Reesie,194,user,"{u'funny': 20, u'useful': 103, u'cool': 26}",2011-02
2653,Pw6EZXm-xFehRDGItBVopw,2015-06-12,KlyhKJy5xvK7v9KKbVPDzw,5,Everything is made by them. Had the smoked mea...,review,jH-DxKe_CLZbsdhPi5r2DA,"{u'funny': 0, u'useful': 0, u'cool': 0}",4.50,"{u'funny': 1, u'plain': 1}",[],1,[oxtwAdu7r-FNiLIMUV4k_w],Nick,6,user,"{u'funny': 1, u'useful': 4, u'cool': 1}",2011-12
2654,Pw6EZXm-xFehRDGItBVopw,2015-08-27,2NS7hS5vk2r4KjtAv8P7pg,1,"Worst service ever !\n\nResturant was empty, b...",review,aiuWtuXjGshQmrjhaMHSsQ,"{u'funny': 0, u'useful': 1, u'cool': 0}",4.50,{},[],0,[gi4lNuILNFtMVftPYPoZ2g],Tahir,19,user,"{u'funny': 1, u'useful': 3, u'cool': 2}",2011-10
2655,Pw6EZXm-xFehRDGItBVopw,2015-09-05,l4-5dO5sSykaMtoiCbKwVA,1,Le pire service de toute ma vie! Ma copine et ...,review,G6O5lO11hJh8UDPaaSLmtQ,"{u'funny': 0, u'useful': 1, u'cool': 0}",2.60,"{u'note': 1, u'cool': 1}",[],1,"[auKV8jB3vQErWdr7ho5U1A, HSOkmJ9fc6t9YExI7id6D...",Mathieu,5,user,"{u'funny': 6, u'useful': 8, u'cool': 2}",2013-01
2656,Pw6EZXm-xFehRDGItBVopw,2015-12-23,jNXCr6yOhwXJrSswlb6nOw,2,"Pro,\nFood was decent and had a great ambiance...",review,eb1D-HWL0KGDeB4c7L4WhQ,"{u'funny': 0, u'useful': 0, u'cool': 0}",2.00,{},[],0,"[OiG8Jf9GQHKJ1wHR1ZBuvg, DkLL93kucnQSLaBn_ZR_7w]",Crewe,1,user,"{u'funny': 0, u'useful': 0, u'cool': 0}",2012-06
2657,AlcIfwNs0BmIDgbGO8Sk1A,2015-04-06,1Nw_HUwsQHj8Wftx8b_-cg,1,I had a bad experience with this company. Firs...,review,ioyOKZJa_9xgYDh9VmlkrQ,"{u'funny': 0, u'useful': 1, u'cool': 0}",3.05,{},[],0,[],Violet,21,user,"{u'funny': 0, u'useful': 8, u'cool': 0}",2015-01
2658,AlcIfwNs0BmIDgbGO8Sk1A,2015-09-21,uqln8ekdn0kdSm-DCDdwOg,1,I agree with some of the other comments. I am...,review,Fi21aBlxBQH5HLZ894WQNQ,"{u'funny': 0, u'useful': 0, u'cool': 0}",3.00,{},[],0,[],Andrew,7,user,"{u'funny': 0, u'useful': 4, u'cool': 0}",2012-03
2659,AlcIfwNs0BmIDgbGO8Sk1A,2015-11-18,Bo30rRiykvzPA10GvptBYg,1,The most horrible staff with absolutely ZERO p...,review,2KJJ10pe8ihNjGb70_GVsg,"{u'funny': 0, u'useful': 0, u'cool': 0}",1.00,{},[],0,[],Nathan,10,user,"{u'funny': 0, u'useful': 4, u'cool': 0}",2012-02

In [39]:
rev_user_sample = rev_user_frame.take(np.random.permutation(len(rev_user_frame))[:50])

In [40]:
rev_user_sample.describe()

,stars,average_stars,fans,review_count
count,50.000000,50.000000,50.000000,50.000000
mean,3.780000,3.709200,17.760000,215.600000
std,0.995705,0.608578,54.479564,278.492223
min,1.000000,1.000000,0.000000,1.000000
25%,3.000000,3.567500,0.000000,25.250000
50%,4.000000,3.750000,3.500000,103.000000
75%,4.750000,3.977500,11.750000,279.750000
max,5.000000,5.000000,278.000000,1083.000000

In [41]:
rev_user_sample.stack()

2471  business_id                                 lvMZVGiWH12U1mRkSI25DQ
      date                                                    2012-05-21
      review_id                                   FtvjOjK-uDZnuwjjxs1Q0A
      stars                                                            3
      text             Some of the worst beer I've had in a long time...
      type_x                                                      review
      user_id                                     vXVYM-cBwggJEJzopqaZaA
      votes_x                    {u'funny': 0, u'useful': 0, u'cool': 0}
      average_stars                                                 3.97
      compliments      {u'note': 4, u'plain': 2, u'more': 1, u'writer...
      elite                                                           []
      fans                                                             0
      friends          [fczQCSmaWF78toLEmb0Zsw, Q2qptqDqJI3O0YMeF9u3H...
      name                                                        Robert
      review_count                                                   156
      type_y                                                        user
      votes_y                {u'funny': 23, u'useful': 129, u'cool': 32}
      yelping_since                                              2008-04
267   business_id                                 j_Mfxog4RUlv3J3KSNRWnw
      date                                                    2013-06-24
      review_id                                   8Uti1zfDIonQDduwcksMGw
      stars                                                            3
      text             Service on the terrasse is next to non-existen...
      type_x                                                      review
      user_id                                     t0pI0Je_h4LwoK5vuJ3b8A
      votes_x                    {u'funny': 0, u'useful': 0, u'cool': 0}
      average_stars                                                 3.56
      compliments      {u'note': 1, u'hot': 1, u'writer': 2, u'cool': 1}
      elite                                                           []
      fans                                                             2
                                             ...
2009  user_id                                     JxAovhzwcKCk7WBFAGnDhQ
      votes_x                    {u'funny': 0, u'useful': 0, u'cool': 0}
      average_stars                                                  3.9
      compliments      {u'profile': 3, u'funny': 12, u'plain': 19, u'...
      elite                                     [2012, 2013, 2014, 2015]
      fans                                                            16
      friends          [_1mBBkphbaKO3EQHnpBQJA, Tu6tfhQBJXYYIxigsQC7m...
      name                                                        Kristy
      review_count                                                   419
      type_y                                                        user
      votes_y              {u'funny': 236, u'useful': 776, u'cool': 431}
      yelping_since                                              2010-04
248   business_id                                 qfNuXG0254-YGBIy2_SqCQ
      date                                                    2012-11-09
      review_id                                   xXbvk1kyC4ybl_AaAQ4U8Q
      stars                                                            3
      text             On a normal day I would describe this park as:...
      type_x                                                      review
      user_id                                     UIRx-BcDsqqaCRnwJ468DQ
      votes_x                    {u'funny': 0, u'useful': 3, u'cool': 1}
      average_stars                                                  3.8
      compliments      {u'cute': 1, u'funny': 4, u'plain': 12, u'writ...
      elite                                           [2012, 2013, 2014]
      fans                                                             6
      friends          [HunoQHxUJ--OKlyo1-cY4Q, sfZpUCrV7ISjn0TnOgiVL...
      name                                                       Chantal
      review_count                                                   138
      type_y                                                        user
      votes_y              {u'funny': 123, u'useful': 316, u'cool': 190}
      yelping_since                                              2012-02
dtype: object

In [42]:
rev_user_sample.unstack()

business_id    2471    lvMZVGiWH12U1mRkSI25DQ
               267     j_Mfxog4RUlv3J3KSNRWnw
               1755    j_Mfxog4RUlv3J3KSNRWnw
               2342    9HpTTSPwuh_lp2dCLiGswg
               2317    EI9xvGMLfVt3zXQmwi7xVg
               150     uQOBg3NRyrC767zEr1LIgQ
               236     qM2I6EnvzeVDN93StYkIYA
               703     KjtmgrvRyTd5sCZZqAM8vA
               1332    2va9Ql6OCNWniepqb0eLlA
               2420    g3-LD-78T2g8fYamv7SndQ
               1047    8CC5z_Naw5cICEkmQ7XHLg
               1785    EuRTuzFXKFLe6Hs_VsXSVw
               2394    g3-LD-78T2g8fYamv7SndQ
               2116    EuRTuzFXKFLe6Hs_VsXSVw
               1454    KAJhfm3x6tzHUN3Dvytguw
               300     lvMZVGiWH12U1mRkSI25DQ
               1020    bSjPhATCDmnYgVHjWeqYhw
               484     gjSuMaaDO8EOpqjvmjr4Ag
               144     uQOBg3NRyrC767zEr1LIgQ
               1487    orSTWbtbOqL1xsFIHclpcw
               398     rnBczhremTc00U-kDqfYtg
               2348    9HpTTSPwuh_lp2dCLiGswg
               1956    a8HdZqkauEXfjNuRxVUvyA
               119     uQOBg3NRyrC767zEr1LIgQ
               1564    9HpTTSPwuh_lp2dCLiGswg
               1828    6BSbEy8nXqz5lwNRH6fwCg
               1139    t578Gz0FdfudO_57qptVkA
               1267    G65-1ikYzfa2EQO0NCJgXw
               1584    7ziq0IevJrSU8e14jYR5gw
               2375    9HpTTSPwuh_lp2dCLiGswg
                                ...
yelping_since  398                    2013-11
               2348                   2012-12
               1956                   2012-08
               119                    2011-09
               1564                   2013-01
               1828                   2012-03
               1139                   2013-05
               1267                   2012-06
               1584                   2010-01
               2375                   2015-05
               1753                   2014-05
               649                    2010-11
               1241                   2011-07
               1781                   2013-05
               1886                   2010-04
               79                     2012-04
               1304                   2011-07
               1870                   2013-02
               222                    2010-10
               344                    2009-02
               492                    2011-07
               1544                   2012-11
               1118                   2011-11
               2163                   2014-07
               2610                   2015-02
               1379                   2007-06
               539                    2012-02
               826                    2008-04
               2009                   2010-04
               248                    2012-02
dtype: object

In [43]:
rev_user_sample.corr()

,stars,average_stars,fans,review_count
stars,1.000000,0.458410,-0.054040,0.069888
average_stars,0.458410,1.000000,0.121969,0.089436
fans,-0.054040,0.121969,1.000000,0.621503
review_count,0.069888,0.089436,0.621503,1.000000

In [44]:
group = revframe.groupby('user_id').size()

In [45]:
group.sort_values(ascending=False)

user_id
bAgO9_hnkDjlFAkUhCSwMQ    10
blTyV99vbzi4P7_ag_QLNQ     7
VR_fkiVm9Yfz_OiDBrEapw     7
Vi6yC7XiZDADYG73Z0MJAQ     6
74rd8KD6U3EZ7BYk0Be7mA     6
y3FTaotN0O-V41cBiZXnFA     6
dZXlBNGaTXd3iiKIWcdjwA     6
Q5qn0BUEsAHoidP6wUzuSw     6
RaUsdg356ynr4QLhoFckCA     5
0qtp4spComZB71ci0qG-bg     5
0Q2QhRuyD_oGodCj__wcvQ     5
e3RgGXBrk9BZ4utixycubA     5
gNCf30Aow5gAW7iSBcV7GA     5
NwwyfANxYkjK6q54qhGV_g     5
k10hFpAJJk4gGxEqPbhg8g     5
S99eN-d-s6gKZoKTw6GzRg     5
y_suILR0WO3Cx-uJc5BPSA     4
gdD47sbuixj69H9zEGsWOg     4
k4E-5_jhjRB43Sm__QUgTQ     4
UIRx-BcDsqqaCRnwJ468DQ     4
CsORgjfkar9ozMlOI1nRkQ     4
dhVuDuzCimescgn83tWQOA     4
2NvgLXUimn5DUU44jfA-cg     4
H_mngeK3DmjlOu595zZMsA     3
4j3uFCo_Qvxg5UVLfg6O7A     3
DMhUSDM3UE2u5KFwtifnFQ     3
_U4zK0QoyKlbjsrBew6wFw     3
OvtTWnqSfLnf6HYtEQdYZw     3
_Ih-kbqOQwHfx1JXhiM2tw     3
3OLHre3kEc25GbYEL7QLkA     3
                          ..
eofhWzmmkGDemmDzBwWMug     1
eOyI22RawXdNUE9_F_f_cg     1
etVwPXl6KA6GK3iKnDnI1Q     1
ex1Stwf1am6ZEy_XcziF1A     1
f0RDEVxirqahwZtu4S4j6Q     1
f7cn2fitfMyPgH_K-GFU6A     1
fNghBJT0Gi0X5h3E9NFxgQ     1
fQUwysMlIzGQUNCeB96hZA     1
fVhw62ddbL-FoQ3yXMzaTA     1
eWTw_2kTYpJPqP3cqgpaIA     1
eJxOMTTqmVOucnPa4ZagCw     1
dRrpUebxoC9L8IWi0CuoDw     1
dm8pwcqyri1T9N32z-aPdA     1
dahsxCK5VCYRHccVS1udmQ     1
dcIQW8KMdoW8yP75mqavsQ     1
dcS-MkVd09xC1k1Bs7S53A     1
ddvdxCJyD5jl_MQW8XPW8g     1
dgjb52jtIamkD_PmoFoKZA     1
dgsRlUFUHUMCiFqYziR34g     1
dhM_YC7w-wHc7Yec-8VD0w     1
dvOhhch3z8-QF0KaZLHbTw     1
eJxJcfjwfDKCxDxUb_EyOA     1
dxEDclAzRBeukerPgzkTcQ     1
e-qngsv4bxi5UR5E5Tht-Q     1
e1OASZ9-K7Y4IvbRZY1CeQ     1
e5BdxG1i2TCSAxIErye5qA     1
e74003gQGfYbr_iY5S2FPA     1
e7CTbDQjmJyZMgDW3OuvcA     1
eFTfBLEugjFb05fZODmuZQ     1
W0fA_OPnIS1rMZVykPRnNw     1
dtype: int64