In [64]:
BIZPATH='../montreal_subset/montreal_business.json'
USERPATH='../montreal_subset/montreal_users_who_reviewed.json'
REVPATH='../montreal_subset/montreal_reviews.json'
PARTIAL_DIM_PATH = '../montreal_subset/featureset1_but_votes_Restaurants.json'

In [65]:
import json

In [66]:
bizrecords = [json.loads(line) for line in open(BIZPATH)]
userrecords = [json.loads(line) for line in open(USERPATH)]
revrecords = [json.loads(line) for line in open(REVPATH)]
pdimrecords = [json.loads(line) for line in open(PARTIAL_DIM_PATH)]

In [67]:
from pandas import DataFrame, Series

In [68]:
import pandas as pd; import numpy as np

In [69]:
bizframe = DataFrame(bizrecords)
userframe = DataFrame(userrecords)
revframe = DataFrame(revrecords)
pdimframe = pd.read_json(PARTIAL_DIM_PATH)

In [70]:
revframe.head()

,business_id,date,review_id,stars,text,type,user_id,votes
0,5LBVJ2_UslInSx5n7D__xQ,2008-08-07,OYuPL99eMFMaDY4IZV18Rg,5,Priape is the hottest most popular gay adult b...,review,e-t3dRzH9bmsanmhYgSiVQ,"{u'funny': 2, u'useful': 4, u'cool': 3}"
1,5LBVJ2_UslInSx5n7D__xQ,2015-09-13,rUczg4mkamTnKS6eBTsyog,4,It's a large store with a good selection of......,review,uF1-c9oji5qiHntYsmfKGg,"{u'funny': 2, u'useful': 7, u'cool': 6}"
2,Dl0aiLB55cpQTHKmDISZag,2010-04-21,NhwfGKDaFeuxOTNTkFpp7w,3,Stayed here for 2 nights with 2 girlfriends. G...,review,NUNVFFv_VEyVn3G7kg1V8g,"{u'funny': 0, u'useful': 0, u'cool': 0}"
3,Dl0aiLB55cpQTHKmDISZag,2010-06-07,PjFJYb_tsU7uR1xyCnw1sQ,3,This is one of 3 Holiday Inns in the general M...,review,0KZsDw5pGKrYEWGXg9oUsg,"{u'funny': 2, u'useful': 2, u'cool': 2}"
4,Dl0aiLB55cpQTHKmDISZag,2010-09-07,2mc7S6djY9xcfdlYYZpWSQ,3,I enjoyed staying at this location because it ...,review,gMOlCdsMxODvZ9G7yMZmTA,"{u'funny': 0, u'useful': 0, u'cool': 0}"

In [71]:
bizframe_sub = DataFrame(bizrecords, columns=['business_id', 'name', 'categories', 'review_count', 'stars'])

In [72]:
bizframe_sub.head()

,business_id,name,categories,review_count,stars
0,5LBVJ2_UslInSx5n7D__xQ,Priape,"[Shopping, Adult]",4,4.5
1,Dl0aiLB55cpQTHKmDISZag,Holiday Inn Montreal Centreville Downtown,"[Hotels & Travel, Event Planning & Services, V...",27,3.0
2,7uWSZpD_pJzLh4ciYT8dgg,Gourmet D'asie,"[Vietnamese, Thai, Asian Fusion, Restaurants]",3,3.5
3,uQOBg3NRyrC767zEr1LIgQ,InterContinental Montreal,"[Hotels & Travel, Event Planning & Services, V...",57,4.0
4,qM2I6EnvzeVDN93StYkIYA,Stash Café,"[Polish, Restaurants]",125,4.0

In [73]:
series = bizframe_sub['categories'].map(lambda x: True if  ('Restaurants' in x  or 'Food' in x ) and 'Chinese' in x else False )

In [74]:
temp = DataFrame(bizframe_sub.loc[series])
temp.head()

,business_id,name,categories,review_count,stars
14,bGF2RANM6J8SGjIFAhZwXw,Mon Shing,"[Chinese, Restaurants]",17,3.0
21,NPtqroQKbWg2oKl0kpn3kw,Restaurant Szechuan,"[Chinese, Restaurants]",5,4.0
31,orSTWbtbOqL1xsFIHclpcw,Wok Cafe,"[Chinese, Restaurants]",15,2.0
40,-AbU9Uw3Da3VsQJW2pPsDg,Bombay Palace Restaurant,"[Chinese, Restaurants]",3,2.0
69,9HpTTSPwuh_lp2dCLiGswg,Little Sheep Mongolian Hot Pot,"[Hot Pot, Mongolian, Chinese, Restaurants]",66,3.5

In [75]:
rev_user_frame = pd.merge(revframe, userframe, on="user_id")
rev_biz_frame = pd.merge(revframe, temp, on="business_id")

In [76]:
#Months yelping
import datetime
now = datetime.datetime.now()
userframe['months_yelping'] = userframe['yelping_since'].map(lambda x: datetime.datetime.strptime(x, '%Y-%m')).map(lambda x: (now.year - x.year) * 12 + now.month - x.month)

In [77]:
userframe.head()

,average_stars,compliments,elite,fans,friends,name,review_count,type,user_id,votes,yelping_since,months_yelping
0,3.52,"{u'profile': 5, u'funny': 37, u'cute': 8, u'pl...","[2006, 2007, 2008, 2009, 2010, 2011, 2012, 201...",102,"[rpOyqD_893cqmDAtJLbdog, CYJnkecyF1DOXVFvBeFmt...",Matthew,1820,user,e-t3dRzH9bmsanmhYgSiVQ,"{u'funny': 2020, u'useful': 6438, u'cool': 2835}",2006-05,118
1,3.85,"{u'profile': 8, u'funny': 28, u'cute': 8, u'pl...","[2013, 2014, 2015]",117,"[rpOyqD_893cqmDAtJLbdog, 8J4IIYcqBlFch8T90N923...",James,1444,user,uF1-c9oji5qiHntYsmfKGg,"{u'funny': 4040, u'useful': 7417, u'cool': 5710}",2011-11,52
2,3.47,"{u'cute': 1, u'cool': 1, u'funny': 1, u'photos...",[],1,[snd45oedwXxF9tsHUX_6dg],Meg,44,user,NUNVFFv_VEyVn3G7kg1V8g,"{u'funny': 21, u'useful': 83, u'cool': 14}",2009-09,78
3,3.45,"{u'profile': 2, u'cute': 4, u'funny': 37, u'pl...","[2009, 2010, 2011, 2012]",22,"[uguXfIEpI65jSCH5MgUDgA, Rir-YRPPClKXDFQbc3BsV...",Jeff,394,user,0KZsDw5pGKrYEWGXg9oUsg,"{u'funny': 956, u'useful': 1524, u'cool': 970}",2008-05,94
4,3.39,"{u'profile': 1, u'funny': 4, u'cute': 1, u'pla...","[2006, 2007, 2009, 2010, 2011]",15,"[GJYJX4SujVj3BR8v2F9PDQ, WGf64PeXIZtdoqkBj0-_z...",Susan,482,user,gMOlCdsMxODvZ9G7yMZmTA,"{u'funny': 164, u'useful': 530, u'cool': 206}",2006-02,121

In [78]:
#Label elite users
userframe["elite_user"] = userframe['elite'].map(lambda x: 'elite' if len(x) > 0 else 'not_elite')

In [79]:
#Adapted from: http://stackoverflow.com/questions/21160134/flatten-a-column-with-value-of-type-list-while-duplicating-the-other-columns-va
#TODO: Find more idiomatic definition for rev_category_frame, preferably by removing flattened_categories.
#flattened_categories = DataFrame([[i, category]
#                                     for i, categories in rev_biz_frame['categories'].apply(list).iteritems()
#                                         for category in categories],
#                                columns=['index', 'category'])
#flattened_categories.set_index('index')
#rev_category_frame = rev_biz_frame.merge(flattened_categories, left_index = True, right_index = True)

In [80]:
#Number businesses / category
#TODO: Add name to the size column; do some sanity checking on the data.
user_biz_revved_per_category_frame = rev_category_frame.groupby(['user_id', 'business_id', 'category']).size()

In [81]:
rev_category_frame.head()

,business_id,date,review_id,stars_x,text,type,user_id,votes,name,categories,review_count,stars_y,index,category
0,bGF2RANM6J8SGjIFAhZwXw,2010-07-26,cNNpfhxKaxWaJvv59NF31g,4,My friends and I were in Montreal for the week...,review,_Ih-kbqOQwHfx1JXhiM2tw,"{u'funny': 0, u'useful': 0, u'cool': 0}",Mon Shing,"[Chinese, Restaurants]",17,3,0,Chinese
1,bGF2RANM6J8SGjIFAhZwXw,2010-09-21,Oy2WWRthMLmzFVO93TQGhQ,3,"We were starving and came across this place, a...",review,sS1PYc8-1or06A7-g6DLjw,"{u'funny': 0, u'useful': 0, u'cool': 0}",Mon Shing,"[Chinese, Restaurants]",17,3,0,Restaurants
2,bGF2RANM6J8SGjIFAhZwXw,2010-10-17,lr_bTWVM0_yuDmTLtB7EEw,3,"The food here was delicious, the prices were a...",review,UmItbKYkExcAn7O-Ev8P4w,"{u'funny': 0, u'useful': 1, u'cool': 0}",Mon Shing,"[Chinese, Restaurants]",17,3,1,Chinese
3,bGF2RANM6J8SGjIFAhZwXw,2011-05-30,clNJalIe998P33Y-xFPrXQ,1,"Mon Shing, where bad service is the thing...\n...",review,g2U0q3llw0FZUrz1AwIejw,"{u'funny': 0, u'useful': 1, u'cool': 2}",Mon Shing,"[Chinese, Restaurants]",17,3,1,Restaurants
4,bGF2RANM6J8SGjIFAhZwXw,2011-09-05,YFacTq3GaGQKEpU_tVpkdw,5,Came here tonight after being disappointed fro...,review,52JujBdOqAjTve5rh7LYvg,"{u'funny': 0, u'useful': 0, u'cool': 0}",Mon Shing,"[Chinese, Restaurants]",17,3,2,Chinese

In [82]:
#rev_restaurants_frame = DataFrame(rev_category_frame.loc[rev_category_frame['category'] == 'Restaurants'])
rev_restaurants_frame['funny'] = rev_restaurants_frame['votes'].map(lambda x: x['funny'])
rev_restaurants_frame['useful'] = rev_restaurants_frame['votes'].map(lambda x: x['useful'])
rev_restaurants_frame['cool'] = rev_restaurants_frame['votes'].map(lambda x: x['cool'])

In [83]:
rev_dim_peruser_frame = rev_restaurants_frame.groupby('user_id').aggregate(sum).reset_index()[['user_id', 'funny', 'useful', 'cool']]

In [84]:
user_dim_frame = pd.merge(userframe[['user_id', 'months_yelping', 'elite_user']], rev_dim_peruser_frame, on='user_id')
dimframe = pd.merge(pdimframe, user_dim_frame, on='user_id')

In [85]:
#Move elite_user column to end
elite_column = dimframe.pop('elite_user')
dimframe.insert(10,'elite_user', elite_column)

In [86]:
dimframe.to_json('../montreal_subset/featureset1.json')

In [87]:
dimframe.head()

,categories_avg_rating,categories_biz_count,categories_reviews,std_dev_rating,total_reviews,user_id,months_yelping,funny,useful,cool,elite_user
0,4,4,4,0.707107,7,blTyV99vbzi4P7_ag_QLNQ,47,0,1,0,elite
1,4,4,4,0.707107,7,blTyV99vbzi4P7_ag_QLNQ,47,0,1,0,elite
2,4,4,4,0.707107,7,blTyV99vbzi4P7_ag_QLNQ,47,0,1,0,elite
3,4,4,4,0.707107,7,blTyV99vbzi4P7_ag_QLNQ,47,0,1,0,elite
4,4,4,4,0.707107,7,blTyV99vbzi4P7_ag_QLNQ,47,0,1,0,elite