In [1]:
BIZPATH='../montreal_subset/montreal_business.json'
USERPATH='../montreal_subset/montreal_users_who_reviewed.json'
REVPATH='../montreal_subset/montreal_reviews.json'
CHECKINPATH='../montreal_subset/montreal_checkin.json'

In [1]:
import json

In [3]:
bizrecords = [json.loads(line) for line in open(BIZPATH)]
userrecords = [json.loads(line) for line in open(USERPATH)]
revrecords = [json.loads(line) for line in open(REVPATH)]
checkinrecords = [json.loads(line) for line in open(CHECKINPATH)]

FileNotFoundError: [Errno 2] No such file or directory: '../montreal_subset/montreal_business.json'

In [4]:
bizrecords[0]

In [ ]:
userrecords[0]

In [6]:
revrecords[0]

In [7]:
checkinrecords[0]

{u'business_id': u'5LBVJ2_UslInSx5n7D__xQ',
 u'checkin_info': {u'10-3': 1, u'13-5': 1, u'18-5': 1, u'20-1': 1},
 u'type': u'checkin'}

In [8]:
from pandas import DataFrame, Series

In [9]:
import pandas as pd; import numpy as np

In [10]:
bizframe = DataFrame(bizrecords)
userframe = DataFrame(userrecords)
revframe = DataFrame(revrecords)
checkinframe = DataFrame(checkinrecords)

In [11]:
users_df = DataFrame(userrecords, columns=['user_id','yelping_since','review_count', 'average_stars', 'variance_in_rating', 'friends'])

In [12]:
users_df.head(n=10)

,user_id,yelping_since,review_count,average_stars,variance_in_rating,friends
0,e-t3dRzH9bmsanmhYgSiVQ,2006-05,1820,3.52,NaN,"[rpOyqD_893cqmDAtJLbdog, CYJnkecyF1DOXVFvBeFmt..."
1,uF1-c9oji5qiHntYsmfKGg,2011-11,1444,3.85,NaN,"[rpOyqD_893cqmDAtJLbdog, 8J4IIYcqBlFch8T90N923..."
2,NUNVFFv_VEyVn3G7kg1V8g,2009-09,44,3.47,NaN,[snd45oedwXxF9tsHUX_6dg]
3,0KZsDw5pGKrYEWGXg9oUsg,2008-05,394,3.45,NaN,"[uguXfIEpI65jSCH5MgUDgA, Rir-YRPPClKXDFQbc3BsV..."
4,gMOlCdsMxODvZ9G7yMZmTA,2006-02,482,3.39,NaN,"[GJYJX4SujVj3BR8v2F9PDQ, WGf64PeXIZtdoqkBj0-_z..."
5,cZY5YYDJywlgmVfCr-K9vQ,2009-05,222,3.49,NaN,"[mTe0H6OteDEoEYp_O4AgMQ, 4j_Otx9PfVPrFP8xfuH7D..."
6,dFC0MPQQNu89a9LpfL4PhA,2009-01,198,3.79,NaN,"[rpOyqD_893cqmDAtJLbdog, 8E0DGec8LNn6oDmPHmj-m..."
7,s0y6bqr8uDQdB65W7Vdy4Q,2011-01,2,3.00,NaN,[]
8,H0TE5OCbgfjv45ArYyErsQ,2011-04,433,3.77,NaN,"[GcDR6pgjbuSvG4nxMUzWcw, 4j_Otx9PfVPrFP8xfuH7D..."
9,22-6yC05pgWbLupHZTjQig,2009-11,5050,3.26,NaN,"[nADIxfovhb5Dj6nPoZwHGg, mAuBHENS_DeFCQqrJC_Ux..."

In [13]:
from datetime import datetime

In [14]:
from dateutil import relativedelta

In [15]:
date1 = datetime.now()

In [16]:
for i, row in users_df.iterrows():
  y_s = row['yelping_since']
  date2 = datetime.strptime(y_s, '%Y-%m') 
  r = relativedelta.relativedelta(date1, date2)
  yelp_months = r.months + r.years*12
  users_df.set_value(i,'yelping_since',yelp_months)

In [17]:
for i, row in users_df.iterrows():
    friend_count = len(row['friends'])
    users_df.set_value(i,'friends',friend_count)

In [18]:
users_df.head(n=10)

,user_id,yelping_since,review_count,average_stars,variance_in_rating,friends
0,e-t3dRzH9bmsanmhYgSiVQ,118,1820,3.52,NaN,168
1,uF1-c9oji5qiHntYsmfKGg,52,1444,3.85,NaN,784
2,NUNVFFv_VEyVn3G7kg1V8g,78,44,3.47,NaN,1
3,0KZsDw5pGKrYEWGXg9oUsg,94,394,3.45,NaN,22
4,gMOlCdsMxODvZ9G7yMZmTA,121,482,3.39,NaN,33
5,cZY5YYDJywlgmVfCr-K9vQ,82,222,3.49,NaN,6
6,dFC0MPQQNu89a9LpfL4PhA,86,198,3.79,NaN,10
7,s0y6bqr8uDQdB65W7Vdy4Q,62,2,3.00,NaN,0
8,H0TE5OCbgfjv45ArYyErsQ,59,433,3.77,NaN,3
9,22-6yC05pgWbLupHZTjQig,76,5050,3.26,NaN,38